<!Doctype HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PREPMYSKILLS - CBSE PROGRAM</title>
		<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="css/lessons/061lsss04.css">
		<style type="text/css">
		
	</style>
	</head>
 

	<body> 
		
		    <!-- Wrapper for slides -->
		    <div class="container-fluid">
			    <div class="row template">
			        <div class="col-xs-offset-2 col-xs-8">
			            
			                <div class="item active">
			                    
		                       		
			                        	<h2><input type="text" name="h2[]" placeholder="Enter heading here.." style="background-color: transparent;border: 0px solid; outline: none;"  /></h2>
			                        	<div class="col-md-12 col-sm-12 col-xs-12">
			                        		<div class="col-md-12 col-sm-12 col-xs-12 desc">
												<center>
													<input type="file" name="img[]" />
												</center>
	                        				</div>
	                        			</div>
									
								
							</div>
							
		                
			        </div>
			    </div>
		    </div>
		    <!-- Controls --> 
			
		


		<!-- core script -->
		<script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
		<script type="text/javascript" src="../assets/js/core/libraries/bootstrap.min.js"></script>

		<script>
			
	    </script>
	<script type="text/javascript" src="../assets/js/customer.js"></script><br/></body>
</html>
	
	
