<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PREPMYSKILLS - CBSE PROGRAM</title>
    <link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/lessons/091lsss06.css">
</head>

<body>
    <!-- Page container -->
    <div class="container-fluid">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12  col-sm-12 col-xs-12 template img-responsive">
                        <div class='_content1'>
                            <div id='_objective'>
                                <h2><input type="text" name="h2[]" placeholder="Enter heading here.." style="background-color: transparent;border: 0px solid; outline: none;"  /></h2>
                            </div>
                        </div>
                        <!-- <div id='_try' class="pull-right"></div> -->
                        <div class="col-md-12 col-sm-12 col-xs-12 content_part">
                            <div class="col-md-3 col-sm-3 col-xs-3 imageleft img-responsive">
                                <center>
                                    <input type="file" name="img[]" /><br/>
                                    <p class="ans8"><textarea name="p[]"  placeholder="Enter text here..." style="background-color: transparent;border: 0px solid; outline: none;" ></textarea></p>
                                </center>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6 imagemiddle">
                                <center>
                                    <input type="file" name="img[]" />
                                    <ul class='_content2'>
                                        <li>
                                            
                                            <p class="ans1"><input type="text" name="lp[]" style="background-color: transparent;border: 0px solid; outline: none;" placeholder="Enter text points here.." /></p>
                                        </li>
                                        <li>
                                            <p class="ans2"><input type="text" name="lp[]" style="background-color: transparent;border: 0px solid; outline: none;" placeholder="Enter text points here.." /></p>
                                            
                                        </li>
                                        <li>
                                            
                                            <p class="ans3"><input type="text" name="lp[]" style="background-color: transparent;border: 0px solid; outline: none;" placeholder="Enter text points here.." /></p>
                                        </li>
                                        <li>
                                            
                                            <p class="ans4"><input type="text" name="lp[]" style="background-color: transparent;border: 0px solid; outline: none;" placeholder="Enter text points here.." /></p>
                                        </li>
                                        <li>
                                            
                                            <p class="ans5"><input type="text" name="lp[]" style="background-color: transparent;border: 0px solid; outline: none;" placeholder="Enter text points here.." /></p>
                                        </li>
                                        <li>
                                            
                                            <p class="ans6"><input type="text" name="lp[]" style="background-color: transparent;border: 0px solid; outline: none;" placeholder="Enter text points here.." /></p>
                                        </li>
                                    </ul>
                                </center>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 imageright img-responsive">
                                <center>
                                    <input type="file" name="img[]" />
                                    <p class="ans7">
                                        <span style='color:red; cursor:pointer' data-toggle="modal"  data-target="#myModal_6">
                                            RECEIVER
                                        </span>
                                    </p>
                                </center>
                            </div>
                             
                            <div class="col-md-12 col-sm-12 col-xs-12  _content9 content_part1">
                                <center>
                                    <p style="margin-left:20px;color: blue;">
                                        Click on all the words to know more...
                                       
                                    </p>
                                </center>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- start modal -->
        <!-- Modal0 -->
        <div class="modal fade  bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <input type="file" name="img[]" />
                    </div>
                    <div class="modal-footer">        
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- END MODAL_1 -->
        
        <!-- Modal_1 -->
        <div class="modal fade  bs-example-modal-sm" id="myModal_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
            <input type="file" name="img[]" />
            </div>
            <div class="modal-footer">        
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          </div>
        </div>
        
        <!-- END MODAL_1 -->
        <!-- Modal_2 -->
        <div class="modal fade  bs-example-modal-sm" id="myModal_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-body">
            <input type="file" name="img[]" />
            </div>
            <div class="modal-footer">        
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          </div>
        </div>
        
        <!-- Modal_3 -->
        <div class="modal fade  bs-example-modal-sm" id="myModal_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
            <input type="file" name="img[]" />
            </div>
            <div class="modal-footer">        
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          </div>
        </div>
        
        <!-- END MODAL_4 -->
        <div class="modal fade  bs-example-modal-sm" id="myModal_4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
            <input type="file" name="img[]" />
            </div>
            <div class="modal-footer">        
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          </div>
        </div>
        
        <!-- END MODAL_5 -->
        <div class="modal fade  bs-example-modal-sm" id="myModal_5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
            <input type="file" name="img[]" />
            </div>
            <div class="modal-footer">        
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          </div>
        </div>
        <!-- END MODAL_5 -->
        <div class="modal fade  bs-example-modal-sm" id="myModal_6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                <input type="file" name="img[]" />
                </div>
                <div class="modal-footer">        
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
              </div>
            </div>
                                            <!-- END MODAL_3 -->
        </div>
        <!-- END MODAL_6 -->
        <div class="modal fade  bs-example-modal-sm" id="myModal_7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
            <input type="file" name="img[]" />
            </div>
            <div class="modal-footer">        
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          </div>
        </div>
      
    </div>
<script type="text/javascript" src="../assets/js/customer.js"></script><br/></body>
<script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/core/libraries/bootstrap.min.js"></script>
<script>
// $(function() {
//     $("._content1,.imageleft,.imagemiddle,.imageright,._content5,._content6,._content7,._content8").hide();
//     $("._content1").fadeOut('slow').delay(1000).fadeIn('slow');
//     $(".imageleft").fadeOut('slow').delay(2000).fadeIn('slow');
//     $(".imagemiddle").fadeOut('slow').delay(3000).fadeIn('slow');
//     $(".imageright").fadeOut('slow').delay(4000).fadeIn('slow');
//     $("._content5").fadeOut('slow').delay(5000).fadeIn('slow');
//     $("._content6").fadeOut('slow').delay(6000).fadeIn('slow');
//     $("._content7").fadeOut('slow').delay(7000).fadeIn('slow');
//     $("._content8").fadeOut('slow').delay(8000).fadeIn('slow');
// });
</script>

</html>
