app/contents
app/contents-edited
app/cpcontents
app/transactions/conceptprep/layouts
app/transactions/quizzone/layouts/images
app/transactions/conceptprep/apis/taskFiles
app/transactions/conceptprep/taskFiles
tinyfilemanager
templates