nbody{
    
}
.template {
    height: 670px;
    background-image:url(../../social7_images/socialskill%206.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
.carousel-content {
    color:black;
    /*display:flex;*/
    align-items:center;
}

.carousel-inner{
    top: 25px;
}


ul{
   margin-left: -1px;
}

li{
    list-style-type: none;
    /*word-wrap:break-word;*/
    font-family:century gothic;
    font-weight:bold;
    font-size:20px;
    text-align: initial;
}
li img{
    width: 26px;
}



.img_desc{
    font-size: 20px;
    margin-top: 7px;
    font-family: century gothic;
    font-weight: bold;
}
.img_left_1, .img_left_2, .img_left_3, .img_left_4{
    width: 46%;
}
.img_center_1{
    position: relative;
    left: 320px;
    max-width: 62%;
    top: -83px;
}
.img_center_2{
    position: absolute;
    left: 320px;
    max-width: 62%;
    top: 5px;
}
.img_center_3{
    position: absolute;
    left: 320px;
    max-width: 62%;
    top: -22px;
}
img#_objective1 {
    margin-top: 2px;
}
img#_objective2 {
    margin-top: 14px;
    margin-left: 18px;
}
.glyphicon-chevron-right, .glyphicon-chevron-left{
            border: 2px solid green;
            height: 39px !important;
            width: 50px !important;
            border-radius: 25px;
            background: green;
        }
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 240px) {
   
    h2 {
        font-size: 12px;
        font-weight: bold;
        margin-top: 127px;
    }
    .col-xs-8 {
    width: 81.666667%;
}
    ._cricleimage img {
            width: 114px;
        margin-top: 20px;
    }
    ul {
        margin-left: -42px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 7px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4 {
        width: 100%;
        position: relative;
        left: 68px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 9px;
        margin-left: 23px;
        margin-top: 0px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 11px;
        max-width: 81%;
        top: -11px;
    }
    .img_center_2 {
        position: absolute;
        left: -4px;
        max-width: 101%;
        top: -6px;
    }
    
    .img_center_3 {
        position: absolute;
        left: -4px;
        max-width: 0%;
        top: -6px;
    }
} 
@media only screen and (min-width : 320px) {
    h2{
        font-size: 12px;
        font-weight: bold;
    }
    ul {
        margin-left: -42px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 8px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4 {
        max-width: 132%;
        position: relative;
        left: 78px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 11px;
        margin-left: 23px;
        margin-top: 0px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 11px;
        max-width: 87%;
        top: 3px;
    }
    .img_center_2 {
        position: absolute;
        left: -4px;
        max-width: 101%;
        top: -6px;
    }
    
    .img_center_3 {
        position: relative;
        left: -4px;
        max-width: 48%;
        top: -6px;
    }
}
@media only screen and (min-width : 400px) {
    h2{
        font-size: 12px;
        font-weight: bold;
        margin-left: 16px;
        margin-top: 95px;
    }
    ul {
        margin-left: -42px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 11px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4 {
        width: 72%;
        position: relative;
        left: 127px;
        z-index: 1;
    }
    .col-xs-9 {
        width: 100%;
        margin-left: -8px;
    }
    .img_desc {
        font-size: 11px;
        margin-left: 40px;
        margin-top: 3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: absolute;
        left: 11px;
        max-width: 87%;
        top: 3px;
    }
    .img_center_2 {
        position: absolute;
        left: -4px;
        max-width: 101%;
        top: -6px;
    }
    
    .img_center_3 {
        position: absolute;
        left: 88px;
        max-width: 44%;
        top: -6px;
    }
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    h2{
        font-size: 18px;
        font-weight: bold;
    }
    ul {
        margin-left: -42px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 13px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4 {
        width: 42%;
        position: relative;
        left: 138px;
        top: -12px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 11px;
        margin-left: 106px;
        margin-top: 14px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 0px;
        max-width: 72%;
        top: -10px;
    }
    .img_center_2 {
        position: relative;
        left: 0px;
        max-width: 101%;
        top: -6px;
    }
    
    .img_center_3 {
        position: relative;
        left: 0px;
        max-width: 39%;
        top: -7px;
    }
}
@media only screen and (min-width : 550px) {
    h2{
        font-size: 18px;
        font-weight: bold;
        margin-top: 85px;
    }
    ul {
        margin-left: -42px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 14px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4 {
        width: 52%;
        position: relative;
        left: 142px;
        top: -4px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 14px;
        margin-left: 106px;
        margin-top: 12px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 0px;
        max-width: 46%;
        top: -10px;
    }
    .img_center_2 {
        position: relative;
        left: 0px;
        max-width: 62%;
        top: -6px;
    }
    
    .img_center_3 {
        position: relative;
        left: 0px;
        max-width: 34%;
        top: -7px;
    }
}
@media only screen and (min-width : 650px) {
    h2{
        font-size: 18px;
        font-weight: bold;
    }
    ul {
        margin-left: -42px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 16px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4 {
        width: 40%;
        position: relative;
        left: 190px;
        top: -2px;
        z-index: 1;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 16px;
        margin-left: 106px;
        margin-top: 12px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 0px;
        max-width: 46%;
        top: -10px;
    }
    .img_center_2 {
        position: relative;
        left: 0px;
        max-width: 62%;
        top: -6px;
    }
    
    .img_center_3 {
        position: relative;
        left: 0px;
        max-width: 34%;
        top: -7px;
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    h2{
        font-size: 18px;
        font-weight: bold;
        margin-top: 134px;
        margin-left: 6px;
    }
    ul {
        margin-left: -42px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 16px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4 {
        width: 39%;
        position: relative;
        left: 190px;
        top: -8px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 16px;
        margin-left: 106px;
        margin-top: 12px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 110px;
        max-width: 93%;
        top: 19px;
    }
    .img_center_2 {
        position: relative;
        left: 102px;
        max-width: 114%;
        top: -6px;
    }
    
    .img_center_3 {
        position: relative;
        left: 120px;
        max-width: 58%;
        top: -7px;
    }
}
@media only screen and (min-width : 800px) {
    h2{
        font-size: 18px;
        font-weight: bold;
        margin-top: 114px;
    }
    ul {
        margin-left: -69px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 16px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4 {
        width: 37%;
        position: relative;
        left: 211px;
        top: -8px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 16px;
        margin-left: 106px;
        margin-top: 12px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 121px;
        max-width: 105%;
        top: -15px;
    }
    .img_center_2 {
        position: relative;
        left: 76px;
        max-width: 113%;
        top: 19px;
    }
    
    .img_center_3 {
        position: relative;
        left: 120px;
        max-width: 63%;
        top: 2px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 900px) {
    h2{
        font-size: 20px;
        font-weight: bold;
        margin-left: 8px;
        margin-top: 83px;
    }
    ul {
        margin-left: -44px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 20px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4 {
        width: 39%;
        position: relative;
        left: 307px;
        top: -15px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 20px;
        margin-left: 106px;
        margin-top: 17px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 291px;
        max-width: 57%;
        top: -27px;
    }
    .img_center_2 {
        position: relative;
        left: 140px;
        max-width: 99%;
        top: -6px;
    }
    
    .img_center_3 {
        position: relative;
        left: 263px;
        max-width: 34%;
        top: -36px;
    }

}
@media only screen and (min-width : 1100px) {
    h2{
        font-size: 20px;
        font-weight: bold;
        margin-left: 9px;
    }
    ul {
        margin-left: -42px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 20px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4 {
        width: 31%;
        position: relative;
        left: 330px;
        top: -13px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 20px;
        margin-left: 106px;
        margin-top: 25px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 291px;
        max-width: 57%;
        top: -27px;
    }
    .img_center_2 {
        position: relative;
        left: 140px;
        max-width: 99%;
        top: -6px;
    }
    
    .img_center_3 {
        position: relative;
        left: 263px;
        max-width: 34%;
        top: -36px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    h2{
        font-size: 20px;
        font-weight: bold;
        margin-top: 91px;
        margin-left: 60px;
    }
    ul{
       margin-left: -1px;
    }

    li{
        list-style-type: none;
        /*word-wrap:break-word;*/
        font-family:century gothic;
        font-weight:bold;
        font-size:20px;
        text-align: initial;
    }
    li img{
        width: 34px;
    }
    .col-md-9 {
        width: 75%;
        margin-top: 55px;
    }
    .img_desc{
        font-size: 20px;
        margin-top: 7px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_left_1, .img_left_2, .img_left_3, .img_left_4{
        width: 46%;
        position: relative;
        left: 0px;
        margin-top: 40px;
    }
    .img_center_1{
        position: relative;
        left: 348px;
        max-width: 62%;
        top: -62px;
    }
    .img_center_2{
        position: absolute;
        left: 320px;
        max-width: 62%;
        top: 5px;
    }
    .img_center_3{
        position: absolute;
        left: 320px;
        max-width: 62%;
        top: -22px;
    }
}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .carousel-control {
        width: 6%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
        
}
