body{
	
font-family: Arial;
	
font-size: 10pt;
}
.template {
    height: 670px;
    background-image:url(../../natural6_images/natural6.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
._content1 img{
    width: 250px;
    position: absolute;
    top: 188px;
    left: 126px;
}

	#_objective1 {
    margin-top: 3px;
    width: 27px;
}

#_objective h2 {
      width: 250px;
    position: absolute;
    top: 188px;
    left: 165px;
    font-weight: bold;
    font-size: 20px;
}
._content_part2 {
    left: -37px;
    position: absolute;
    top: 94px;
    width: 100%;
}
._content_part3 {
    color: blue;
    font-family: century gothic;
    font-size: 20px;
    left: -49px;
    position: absolute;
    top: 495px;
}
li{
	list-style-type: none;
	/*word-wrap:break-word;*/
	font-family:century gothic;
	font-weight:bold;
	font-size:20px;
	text-align: initial;
}
._right1, ._wrong {
    border-radius: 10px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 93px;
    left: 138px;
    top: 258px;
    padding: 32px;
    position: absolute;
}

._right, ._wrong {
    border-radius: 10px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 93px;
    left: 138px;
    top: 258px;
    padding: 32px;
    position: absolute;
}

ul{
	    margin-left: 78px;
}
._right1 .cancle {
     left: 308px;
    top: -82px;
    position: absolute;
}
._right1 .stranger1_popup{
    width: 228px;
    position: absolute;
    top: -60px;
    left: 119px;
}

._right .cancle {
     left: 388px;
    top: -212px;
    position: absolute;
}
._right .stranger_popup{
      width: 188px;
    position: absolute;
    top: -193px;
    left: 230px;
}
.sticky_img {
       margin-left: -70px;
    margin-top: 34px;
    width: 208px;
    position: absolute;
}
._content5{
	width:100%;
	margin-left:10px;
	top:50px;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

	._content1 img{
    width: 430px;
    position: absolute;
    top: 195px;
    left: 36px;


}

    #_objective h2{
		top: 71px;
		
	}
	._content5{
	width:100%;
	margin-left:10px;
	top:50px;
}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

	._content1 img{
    width: 260px;
    position: absolute;
    top: 185px;
    left: 121px;


}

	
    #_objective h2{
    top: 27px;
    margin-left: -67px;
    font-size: 23px;
    }
	._content5{
	width: 63%;
	margin-left: 161px;
	top: 280px;
}

}









@media only screen and (max-width : 992px) {
    ._content1 img {
    top: 188px;
    left: 65px;
    width: 251px;
    }
    #_objective h2 {
    top: 24px;
    margin-left: -120px;
    font-size: 23px;
    }
    ._content_part2 {
    left: -13px;
    top: 92px;
    width: 100%;
    }
  li{
	list-style-type: none;
	/*word-wrap:break-word;*/
	font-family:century gothic;
	font-weight:bold;
	font-size:19px;
	text-align: initial;
}
    
    	#_objective1 {
    margin-top: 3px;
    width: 25px;
}
    .sticky_img {
    margin-left: 549px;
    margin-top: 40px;
    width: 198px;
    position: absolute;

    }
    ._content_part3 {
    left: -30px;
    top: 485px;
    font-size: 19px;
    }
    
    ul{
	        margin-left: -4px;
}
    ._right1, ._wrong {
         left: 41px;
    top: 184px;
    }
    ._right1 .stranger1_popup {
           width: 223px;
    position: absolute;
    left: 220px;
    top: -10px;
    }
    ._right1 .cancle {
        left: 429px;
    top: -25px;
    }
    
    ._right, ._wrong {
         left: 41px;
    top: 184px;
    }
    ._right .stranger_popup {
          position: absolute;
    top: -3px;
    left: 40px;
    }
    ._right .cancle {
        left: 179px;
    top: -22px;
    }
	._content5{
	width: 71%;
	margin-left: 69px;
	top: 277px;
}
}

@media only screen and (max-width : 800px) {

    ._content1 img {
    top: 168px;
    left: 45px;
    width: 200px;
    }
    #_objective h2 {
     top: -6px;
     margin-left: -117px;
     font-size: 23px;
    }
    ._content_part2 {
    left: -27px;
    top: 59px;
    width: 101%;
    }
  li{
	list-style-type: none;
	/*word-wrap:break-word;*/
	font-family:century gothic;
	font-weight:bold;
	font-size:17px;
	text-align: initial;
}
    
    	#_objective1 {
    margin-top: 3px;
    width: 20px;
}
    .sticky_img {
     margin-left: 448px;
    margin-top: 77px;
    width: 158px;
    position: absolute;
    }
    ._content_part3 {
      left: 0px;
      top: 472px;
      font-size: 18px;
    }
    
    ul{
	           margin-left: 22px;
}
    ._right1, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right1 .stranger1_popup {
            width: 218px;
    position: absolute;
    left: 0px;
    top: -49px;
    }
    ._right1 .cancle {
        left: 199px;
    top: -67px;

    }
    
     ._right, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right .stranger_popup {
            width: 189px;
    position: absolute;
    top: -39px;
    left: 0px;
    }
    ._right .cancle {
          left: 159px;
    top: -55px;
    }
	._content5{
	width: 76%;
	margin-left: 69px;
	top: 227px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    ._content1 img {
    top: 168px;
    left: 45px;
    width: 200px;
    }
    #_objective h2 {
    top: 14px;
    margin-left: -112px;
    font-size: 23px;
    }
    ._content_part2 {
    left: -27px;
    top: 78px;
    width: 100%;
    }
  li{
	list-style-type: none;
	/*word-wrap:break-word;*/
	font-family:century gothic;
	font-weight:bold;
	font-size:17px;
	text-align: initial;
}
    
    	#_objective1 {
    margin-top: 3px;
    width: 20px;
}
    .sticky_img {
    margin-left: 278px;
    margin-top: 187px;
    width: 128px;
    position: absolute;
    }
    ._content_part3 {
      left: 0px;
      top: 472px;
      font-size: 19px;
    }
    
    ul{
	           margin-left: 22px;
}
    ._right1, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right1 .stranger1_popup {
            width: 218px;
    position: absolute;
    left: 0px;
    top: -49px;
    }
    ._right1 .cancle {
        left: 199px;
    top: -67px;

    }
    
     ._right, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right .stranger_popup {
            width: 189px;
    position: absolute;
    top: -39px;
    left: 0px;
    }
    ._right .cancle {
          left: 159px;
    top: -55px;
    }
	._content5{
	width: 76%;
	margin-left: 82px;
	top: 264px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 700px) {

     ._content1 img {
top: 168px;
    left: 35px;
    width: 200px;
    }
    #_objective h2 {
    top: 5px;
    margin-left: -106px;
    font-size: 20px;
    }
    ._content_part2 {
    left: -15px;
    top: 71px;
    width: 100%;
    }
  li{
	list-style-type: none;
	/*word-wrap:break-word;*/
	font-family:century gothic;
	font-weight:bold;
	font-size:16px;
	text-align: initial;
}
    
    	#_objective1 {
       margin-top: 5px;
    width: 20px;
}
    .sticky_img {
    margin-left: 180px;
    margin-top: 210px;
    width: 118px;
    position: absolute;
    }
    ._content_part3 {
    left: -16px;
    top: 472px;
    font-size: 18px;
    }
    
    ul{
	       margin-left: 17px;
}
    ._right1, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right1 .stranger1_popup {


           width: 200px;
    position: absolute;
    left: 0px;
    top: -79px;
    }
    ._right1 .cancle {
       left: 159px;
    top: -98px;
    }
    
     ._right, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right .stranger_popup {
           width: 173px;
    position: absolute;
    left: 0px;
    top: -80px;
    }
    ._right .cancle {

         left: 159px;
    top: -95px;
    }
	._content5{
	width: 85%;
	margin-left: 57px;
	top: 259px;
}
}

@media only screen and (max-width : 650px) {

    ._content1 img {
top: 168px;
    left: 35px;
    width: 200px;
    }
    #_objective h2 {
    top: 5px;
    margin-left: -102px;
    font-size: 20px;
    }
    ._content_part2 {
    left: -15px;
    top: 71px;
    width: 100%;
    }
  li{
	list-style-type: none;
	/*word-wrap:break-word;*/
	font-family:century gothic;
	font-weight:bold;
	font-size:16px;
	text-align: initial;
}
    
    	#_objective1 {
       margin-top: 5px;
    width: 20px;
}
    .sticky_img {
    margin-left: 180px;
    margin-top: 210px;
    width: 118px;
    position: absolute;
    }
    ._content_part3 {
    left: -5px;
    top: 473px;
    font-size: 17px;
    }
    
    ul{
	       margin-left: 17px;
}
    ._right1, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right1 .stranger1_popup {
           width: 200px;
    position: absolute;
    left: 0px;
    top: -79px;
    }
    ._right1 .cancle {
       left: 159px;
    top: -98px;
    }
    
     ._right, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right .stranger_popup {
           width: 173px;
    position: absolute;
    left: 0px;
    top: -80px;
    }
    ._right .cancle {
         left: 159px;
    top: -95px;
    }
	._content5{
	width: 88%;
	margin-left: 40px;
	top: 276px;
}
}

@media only screen and (max-width : 600px) {

      ._content1 img {
top: 168px;
    left: 35px;
    width: 200px;
    }
    #_objective h2 {
     top: 5px;
     margin-left: -103px;
     font-size: 20px;
    }
    ._content_part2 {
    left: -15px;
    top: 76px;
    width: 100%;
    }
  li{
	list-style-type: none;
	/*word-wrap:break-word;*/
	font-family:century gothic;
	font-weight:bold;
	font-size:16px;
	text-align: initial;
}
    
    	#_objective1 {
       margin-top: 5px;
    width: 20px;
}
    .sticky_img {
    margin-left: 180px;
    margin-top: 210px;
    width: 118px;
    position: absolute;
    }
    ._content_part3 {
    left: -12px;
    top: 472px;
    font-size: 16px;
    }
    
    ul{
	       margin-left: 17px;
}
    ._right1, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right1 .stranger1_popup {
           width: 200px;
    position: absolute;
    left: 0px;
    top: -79px;
    }
    ._right1 .cancle {
       left: 159px;
    top: -98px;
    }
    
     ._right, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right .stranger_popup {
           width: 173px;
    position: absolute;
    left: 0px;
    top: -80px;
    }
    ._right .cancle {
         left: 159px;
    top: -95px;
    }
	._content5{
	width: 89%;
	margin-left: 39px;
	top: 276px;
}
}

@media only screen and (max-width : 550px) {

    ._content1 img {
top: 168px;
    left: 35px;
    width: 200px;
    }
    #_objective h2 {
    top: 5px;
    margin-left: -126px;
    font-size: 20px;
    }
    ._content_part2 {
    left: -38px;
    top: 63px;
    width: 107%;
    }
  li{
	list-style-type: none;
	/*word-wrap:break-word;*/
	font-family:century gothic;
	font-weight:bold;
	font-size:16px;
	text-align: initial;
}
    
    	#_objective1 {
       margin-top: 5px;
    width: 20px;
}
    .sticky_img {
    margin-left: 180px;
    margin-top: 210px;
    width: 118px;
    position: absolute;
    }
    ._content_part3 {
    left: -5px;
    top: 479px;
    font-size: 15px;
    }
    
    ul{
	       margin-left: 17px;
}
    ._right1, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right1 .stranger1_popup {
           width: 200px;
    position: absolute;
    left: 0px;
    top: -79px;
    }
    ._right1 .cancle {
       left: 159px;
    top: -98px;
    }
    
     ._right, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right .stranger_popup {
           width: 173px;
    position: absolute;
    left: 0px;
    top: -80px;
    }
    ._right .cancle {
         left: 159px;
    top: -95px;
    }
	._content5{
	width:100%;
	margin-left:10px;
	top: 267px;
}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    ._content1 img {
         top: 168px;
    left: 5px;
    width: 200px;
    }
    #_objective h2 {
      top: 2px;
      margin-left: -146px;
      font-size: 18px;
    }
    ._content_part2 {
    left: -30px;
    top: 67px;
    width: 102%;
    }
  li{
	list-style-type: none;
	/*word-wrap:break-word;*/
	font-family:century gothic;
	font-weight:bold;
	font-size:15px;
	text-align: initial;
}
    
    	#_objective1 {
    margin-top: 3px;
    width: 20px;
}
    .sticky_img {
     margin-left: 127px;
    margin-top: 234px;
    width: 98px;
    position: absolute;
    }
    ._content_part3 {
      left: -1px;
      top: 476px;
      font-size: 14px;
    }
    
    ul{
	        margin-left: -4px;
}
    ._right1, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right1 .stranger1_popup {
         width: 173px;
    position: absolute;
    left: 0px;
    top: -43px;

    }
    ._right1 .cancle {
      left: 159px;
    top: -59px;
    }
    
    ._right, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right .stranger_popup {
            width: 173px;
    position: absolute;
    top: -33px;
    left: 0px;
    }

    
    ._right .cancle {
    left: 159px;
    top: -51px;
    }
	._content5{
	width:100%;
	margin-left:10px;
	top: 344px;
}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 400px) {

   ._content1 img {
         top: 168px;
    left: 5px;
    width: 200px;
    }
    #_objective h2 {
      top: -7px;
      margin-left: -130px;
      font-size: 18px;
    }
    ._content_part2 {
    left: -19px;
    top: 42px;
    width: 100%;
    }
  li{
	list-style-type: none;
	/*word-wrap:break-word;*/
	font-family:century gothic;
	font-weight:bold;
	font-size: 14px;
	text-align: initial;
}
    
    	#_objective1 {
    margin-top: 3px;
    width: 20px;
}
    .sticky_img {
    margin-left: 68px;
    margin-top: 240px;
    width: 98px;
    position: absolute;
    }
    ._content_part3 {
      left: -2px;
      top: 469px;
      font-size: 13px;
    }
    
    ul{
	        margin-left: -4px;
}
    ._right1, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right1 .stranger1_popup {
         width: 173px;
    position: absolute;
    left: 0px;
    top: -43px;

    }
    ._right1 .cancle {
      left: 159px;
    top: -59px;
    }
    
    ._right, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right .stranger_popup {
            width: 173px;
    position: absolute;
    top: -33px;
    left: 0px;
    }

    
    ._right .cancle {
    left: 159px;
    top: -51px;
    }
	._content5{
	width:100%;
	margin-left:10px;
	top: 340px;
}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    ._content1 img {
         top: 168px;
    left: 5px;
    width: 200px;
    }
    #_objective h2 {
    top: 8px;
    margin-left: -158px;
    font-size: 15px;
    width: 79%;
    }
    ._content_part2 {
    left: -40px;
    top: 77px;
    width: 107%;
    }
  li{
	list-style-type: none;
	/*word-wrap:break-word;*/
	font-family:century gothic;
	font-weight:bold;
	font-size: 11px;
	text-align: initial;
}
    
    	#_objective1 {
    margin-top: 3px;
    width: 20px;
}
    .sticky_img {
    margin-left: 68px;
    margin-top: 240px;
    width: 98px;
    position: absolute;
    }
    ._content_part3 {
      left: 12px;
      top: 488px;
      font-size: 11px;
      width: 72%;
    }
    
    ul{
	        margin-left: -4px;
}
    ._right1, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right1 .stranger1_popup {
         width: 173px;
    position: absolute;
    left: 0px;
    top: -43px;

    }
    ._right1 .cancle {
      left: 159px;
    top: -59px;
    }
    
    ._right, ._wrong {
        left: 41px;
        top: 184px;
    }
    ._right .stranger_popup {
            width: 173px;
    position: absolute;
    top: -33px;
    left: 0px;
    }

    
    ._right .cancle {
    left: 159px;
    top: -51px;
    }
	._content5{
	width: 94%;
	margin-left: -6px;
	top: 401px;
}
}
