body{
    font-family: Arial;
    font-size: 10pt;
}
.template {
    height: 670px;
    background-image: url('../../safe6_images/safe6.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
#_objective img{
    position: absolute;
    left: 141px;
    top: 175px;
    width:187px;
    height:83px;
}
#_objective b {
    position: absolute;
    left: 166px;
    top: 134px;
    font-size: 27px;
}
#question {
    font-family: century Gothic;
    font-size: 17px;
    left: 68px;
    position: absolute;
    top: 86px;
}
.question_1{
    left: -241px;
    top: 96px;
    text-align: justify;
    font-size: 20px;
}
#list{
    left: 54px;
    top: 83px;
}
.img_right img{
     position: absolute;
     top: 67px;
     left: 175px;
     width: 300px;
}
ol{
    background: #fafad2 none repeat scroll 0 0;
    border: 3px solid green;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 5px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}
li{
    cursor: pointer;
    font-size: 17px;
    padding: 9px;
    font-weight: bold;
}
.valid_msg {
    position: absolute;
    top: 134px;
}
.close{
    font-size: 55px;
    font-weight: bold;
    margin-top: -14px;
    color: red !important;
    border: 2px solid red;
    border-radius: 18;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
    color: green;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {
    .dvSource #list{
        width: 50%;
        top: 71px;
        font-size: 15px;
        left: 114px;
    }
    #_objective img{
        position: absolute;
        left: 141px;
        top: 175px;
        width:187px;
        height:83px;
    }
    #_objective b {
        position: absolute;
        left: 176px;
        top: 146px;
        font-size: 27px;
    }
    #question {
        font-family: century Gothic;
        font-size: 18px;
        left: 25px;
        position: absolute;
        top: 130px;
    }
    .question_1{
        left: -166px;
        top: 55px;
        text-align: justify;
        width: 56%;
        font-size: 20px;
    }
    #list{
        left: 64px;
        top: 143px;
        font-size: 16px;
    }
    li{
        cursor: pointer;
        font-size: 17px;
        padding: 9px;
        font-weight: bold;
    }
    .img_right img{
        position: absolute;
        top: 74px;
        left: 160px;
        width: 281px;
    }
}


@media only screen and (max-width : 1200px) {
    .dvSource #list{
        width: 50%;
        top: 67px;
        font-size: 15px;
        left: 99px;
    }
    #_objective img{
        position: absolute;
        left: 141px;
        top: 175px;
        width:187px;
        height:83px;
    }
    #_objective b {
        position: absolute;
        left: 176px;
        top: 146px;
        font-size: 27px;
    }
    #question {
        font-family: century Gothic;
        font-size: 18px;
        left: 44px;
        position: absolute;
        top: 130px;
    }
    .question_1{
        left: -166px;
        top: 55px;
        text-align: justify;
        width: 56%;
        font-size: 20px;
    }
    #list{
        left: 64px;
        top: 143px;
        font-size: 16px;
    }
    li{
        cursor: pointer;
        font-size: 17px;
        padding: 9px;
        font-weight: bold;
    }
    .img_right img{
        position: absolute;
        top: 65px;
        left: 160px;
        width: 260px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1040px) {
    .dvSource #list{
        width: 47%;
        top: 97px;
        font-size: 15px;
        left: 60px;
    }
    #_objective img{
        position: absolute;
        left: 141px;
        top: 175px;
        width:187px;
        height:83px;
    }
    #_objective b {
        position: absolute;
        left: 176px;
        top: 146px;
        font-size: 27px;
    }
    #question {
        font-family: century Gothic;
        font-size: 18px;
        left: 68px;
        position: absolute;
        top: 100px;
    }
    .question_1{
        left: -160px;
        top: 90px;
        text-align: justify;
        width: 56%;
        font-size: 20px;
    }
    #list{
        left: 64px;
        top: 143px;
        font-size: 16px;
    }
    li{
        cursor: pointer;
        font-size: 17px;
        padding: 9px;
        font-weight: bold;
    }
    .img_right img{
        position: absolute;
        top: 125px;
        left: 129px;
        width: 260px;
    }
}
@media only screen and (max-width : 1024px) {
    .dvSource #list{
        width: 50%;
        top: 92px;
        font-size: 15px;
        left: 58px;
    }
    #_objective img{
        position: absolute;
        left: 141px;
        top: 175px;
        width:187px;
        height:83px;
    }
    #_objective b {
        position: absolute;
        left: 161px;
        top: 141px;
        font-size: 27px;
    }
    #question {
        font-family: century Gothic;
        font-size: 18px;
        left: 68px;
        position: absolute;
        top: 100px;
    }
    .question_1{
        left: 78px;
        top: 90px;
        text-align: justify;
        width: 56%;
        font-size: 20px;
    }
    #list{
        left: 64px;
        top: 143px;
        font-size: 16px;
    }
    li{
        cursor: pointer;
        font-size: 17px;
        padding: 9px;
        font-weight: bold;
    }
    .img_right img{
        position: absolute;
        top: 117px;
        left: 110px;
        width: 270px;
    }
}
@media only screen and (max-width : 1000px) {
    .dvSource #list{
        width: 50%;
        top: 85px;
        font-size: 15px;
        left: 52px;
    }
    #_objective img{
        position: absolute;
        left: 141px;
        top: 175px;
        width:187px;
        height:83px;
    }
    #_objective b {
        position: absolute;
        left: 139px;
        top: 137px;
        font-size: 27px;
    }
    #question {
        font-family: century Gothic;
        font-size: 18px;
        left: 55px;
        position: absolute;
        top: 100px;
    }
    .question_1{
        left: 71px;
        top: 86px;
        text-align: justify;
        width: 56%;
        font-size: 20px;
    }
    #list{
        left: 64px;
        top: 143px;
        font-size: 16px;
    }
    li{
        cursor: pointer;
        font-size: 17px;
        padding: 9px;
        font-weight: bold;
    }
    .img_right img{
        position: absolute;
        top: 102px;
        left: 110px;
        width: 240px;
    }
}
@media only screen and (max-width : 900px) {
    #_objective img {
        position: absolute;
        left: 78px;
        top: 175px;
        width: 187px;
        height: 64px;
    }
    #_objective b {
        left: 90px;
        top: 146px;
        font-size: 24px;
    }
    .question_1 {
        left: 59px;
        top: 87px;
        text-align: justify;
        font-size: 20px;
        width: 80%;
    }
    .img_right img{
        width: 145px;
    }
    #question {
        font-size: 15px;
        left: 22px;
        top: 91px;
    }
    
    li {
        font-size: 17px;
        padding: 1px;
    }
    .dvSource img{
        position: absolute;
        left: 250px;
        top: 100px;
    }
    .dvSource #list{
        width: 82%;
        left: 45px;
        font-size: 15px;
        top: 90px;
    }  
}
/* Small Devices, Tablets */
@media only screen and (max-width : 800px) {
    #_objective img {
        position: absolute;
        left: 78px;
        top: 175px;
        width: 187px;
        height: 64px;
    }
    #_objective b {
        left: 90px;
        top: 146px;
        font-size: 25px;
    }
    .question_1 {
        left: 59px;
        top: 89px;
        text-align: justify;
        font-size: 18px;
        width: 80%;
    }
    .img_right img{
        width: 158px;
    }
    #question {
        font-size: 15px;
        left: 22px;
        top: 95px;
    }
    
    li {
        font-size: 16px;
        padding: 1px;
    }
    .dvSource img{
        position: absolute;
        left: 245px;
        top: 95px;
    }
    .dvSource #list{
        width: 82%;
        left: 45px;
        font-size: 14px;
        top: 89px;
    }  
}
@media only screen and (max-width : 750px) {
    #_objective img {
        position: absolute;
        left: 58px;
        top: 175px;
        width: 187px;
        height: 64px;
    }
    #_objective b {
        left: 96px;
        top: 146px;
        font-size: 24px;
    }
    .question_1 {
        left: 49px;
        top: 87px;
        text-align: justify;
        font-size: 18px;
        width: 80%;
    }
    .img_right img{
        width: 120px;
    }
    #question {
        font-size: 15px;
        left: 22px;
        top: 95px;
    }
    
    li {
        font-size: 15px;
        padding: 1px;
    }
    .dvSource img{
        position: absolute;
        left: 222px;
        top: 111px;
    }
    .dvSource #list{
        width: 82%;
        left: 36px;
        font-size: 14px;
        top: 89px;
    }   
}
@media only screen and (max-width : 700px) {
    #_objective img {
        position: absolute;
        left: 58px;
        top: 175px;
        width: 187px;
        height: 64px;
    }
    #_objective b {
        left: 81px;
        top: 146px;
        font-size: 24px;
    }
    .question_1 {
        left: 49px;
        top: 100px;
        text-align: justify;
        font-size: 18px;
        width: 80%;
    }
    .img_right img{
        width: 130px;
    }
    #question {
        font-size: 15px;
        left: 22px;
        top: 86px;
    }
    
    li {
        font-size: 15px;
        padding: 1px;
    }
    .dvSource img{
        position: absolute;
        left: 202px;
        top: 112px;
    }
    .dvSource #list{
        width: 82%;
        left: 36px;
        font-size: 14px;
        top: 95px;
    }   
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 650px) {
    #_objective img {
        position: absolute;
        left: 58px;
        top: 175px;
        width: 187px;
        height: 64px;
    }
    #_objective b {
        left: 77px;
        top: 146px;
        font-size: 25px;
    }
    .question_1 {
        left: 49px;
        top: 88px;
        text-align: justify;
        font-size: 18px;
        width: 80%;
    }
    .img_right img{
        width: 120px;
    }
    #question {
        font-size: 15px;
        left: 22px;
        top: 104px;
    }
    
    li {
        font-size: 14px;
        padding: 1px;
    }
    .dvSource img{
        position: absolute;
        left: 191px;
        top: 103px;
    }
    .dvSource #list{
        width: 82%;
        left: 36px;
        font-size: 14px;
        top: 93px;
    }   
}
@media only screen and (max-width : 620px) {
    #_objective img {
        position: absolute;
        left: 58px;
        top: 175px;
        width: 187px;
        height: 64px;
    }
    #_objective b {
        left: 80px;
        top: 146px;
        font-size: 24px;
    }
    .question_1 {
        left: 49px;
        top: 90px;
        text-align: justify;
        font-size: 17px;
        width: 80%;
    }
    .img_right img{
        width: 120px;
    }
    #question {
        font-size: 15px;
        left: 22px;
        top: 96px;
    }
    
    li {
        font-size: 14px;
        padding: 1px;
    }
    .dvSource img{
        position: absolute;
        left: 139px;
        top: 102px;
    }
    .dvSource #list{
        width: 82%;
        left: 36px;
        font-size: 13px;
        top: 86px;
    }   
} 
@media only screen and (max-width : 500px) {
    #_objective img {
        position: absolute;
        left: 23px;
        top: 175px;
        width: 187px;
        height: 64px;
    }
    #_objective b {
        left: 39px;
        top: 146px;
        font-size: 21px;
    }
    .question_1 {
        left: 8px;
        top: 90px;
        text-align: justify;
        font-size: 17px;
    }
    .img_right img{
        width: 109px;
    }
    #question {
        font-size: 15px;
        left: 22px;
        top: 86px;
    }
    
    li {
        font-size: 13px;
        padding: 1px;
    }
    .dvSource img{
        position: absolute;
        left: 130px;
        top: 105px;
    }
    .dvSource #list{
        width: 94%;
        left: -3px;
        font-size: 13px;
        top: 90px;
    }   
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 480px) {
    #_objective img {
        position: absolute;
        left: 23px;
        top: 175px;
        width: 187px;
        height: 64px;
    }
    #_objective b {
        left: 41px;
        top: 146px;
        font-size: 24px;
    }
    .question_1 {
        left: 6px;
        top: 70px;
        text-align: justify;
        font-size: 15px;
    }
    .img_right img{
        width: 102px;
    }
    #question {
        font-size: 15px;
        left: 22px;
        top: 120px;
    }
    
    li {
        font-size: 12px;
        padding: 1px;
    }
    .dvSource img{
        position: absolute;
        left: 89px;
        top: 75px;
        width: 80px;
    }
    .dvSource #list{
        width: 90%;
        left: -8px;
        font-size: 13px;
        top: 73px;
    }   
} 
@media only screen and (max-width : 370px) {
    #_objective img {
        position: absolute;
        left: 14px;
        top: 190px;
        width: 169px;
        height: 64px;
    }
    #_objective b {
        left: 41px;
        top: 146px;
        font-size: 24px;
    }
    #question {
        font-size: 15px;
        left: 22px;
        top: 116px;
    }
    .question_1 {
        left: 0px;
        top: 65px;
        text-align: justify;
        font-size: 15px;
    }
    li {
        font-size: 12px;
        padding: 1px;
    }
    .dvSource img{
        position: absolute;
        left: 87px;
        top: 70px;
        width: 93px;
    }
    .img_right img{
        width: 70px;
    }
    .dvSource #list{
        width: 99%;
        left: -11px;
        font-size: 13px;
        top: 69px;
    }
}
@media only screen and (max-width : 330px) {
    #_objective img {
        position: absolute;
        left: 62px;
        top: 175px;
        width: 187px;
        height: 64px;
    }
    #_objective b {
        left: 44px;
        top: 146px;
        font-size: 20px;
    }
    #question {
        font-size: 13px;
        left: 10px;
        top: 99px;
    }
    .question_1 {
        left: 8px;
        top: 74px;
        text-align: justify;
        font-size: 15px;
    }
    .dvSource img{
        position: absolute;
        left: 88px;
        top: 65px;
        width: 81px;
    }
    li{
        font-size: 12px;
        padding: 0px;
    }
    .dvSource #list{
        width: 100%;
        left: -7px;
        font-size: 13px;
        top: 60px;
    }
}
@media only screen and (max-width : 320px) {
    #_objective img {
        position: absolute;
        left: 23px;
        top: 175px;
        width: 187px;
        height: 64px;
    }
    #_objective b {
        left: 35px;
        top: 146px;
        font-size: 20px;
    }
    #question {
        font-size: 13px;
        left: 10px;
        top: 86px;
    }
    .question_1 {
        left: 15px;
        top: 90px;
        text-align: justify;
        font-size: 12px;
    }
    .dvSource img{
        position: absolute;
        left: 68px;
        top: 85px;
        width: 70px;
    }
    li{
        font-size: 12px;
        padding: 0px;
    }
    .dvSource #list{
        width: 98%;
        left: 0px;
        font-size: 12px;
        top: 78px;
 