<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PREPMYSKILLS - CBSE PROGRAM</title>

		<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="css/lessons/062vsie17.css">
	</head>
    <body>
		
		<!-- Page container -->
		<div class="container-fluid">
			<!-- Page content -->
			<div class="page-content">
				<!-- Main content -->
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-12  col-sm-12 col-xs-12 template img-responsive"> 
							
                             	
                                <div id='_objective'>
                                 	<h2><input type="text" name="h2[]" placeholder="Enter heading here.." style="background-color: transparent;border: 0px solid; outline: none;"  /></h2>
                                </div>
                            
								<div class="container-fluid">
								    <div class="row">
								        <div class="col-lg-4 _content5">
								            <input type="file" name="img[]" />
								        </div>
								        <div class="col-lg-4 _content5">
								            <input type="file" name="img[]" />
								        </div>
								        <div class="col-lg-4 _content5">
								            <input type="file" name="img[]" />
								        </div>								        
								    </div>
								</div>        
						</div>
					</div>
				</div>
			</div>
		</div>	
						        
 <script type="text/javascript" src="../assets/js/customer.js"></script><br/></body>


<script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/core/libraries/bootstrap.min.js"></script>
<script>
	
</script>

 </html> 



	
