#enroll_teacher_assign{
	border-radius: 10px;
  	background-color: #f6f6fa;
  	padding: 40px 30px
}

#enroll_teacher_assign header{
	max-width: 385px;
	width: 100%
}

#enroll_teacher_assign #card_blk{
	max-width: 700px;
	width: 100%
}

/** Clone Styles*/
.add, .remove{
  cursor: pointer;
}
.add{
  float: left;
  letter-spacing: 0.11px;
  color: #181818;
  font-size: 12px;
  padding: 5px;
  margin: 0px 0px 0px 15px;
  background: #aef5bf;
  border: 0px;
  border-radius: 5px;
}

.yellow{
  float: left;
  letter-spacing: 0.11px;
  color: #181818;
  font-size: 12px;
  padding: 5px;
  margin: 0px 0px 0px 15px;
  background: #ffcf9a;
  border: 0px;
  border-radius: 5px;
}
.blue{
  float: left;
  letter-spacing: 0.11px;
  color: #181818;
  font-size: 12px;
  padding: 5px;
  margin: 0px 0px 0px 15px;
  background: #cce4ff;
  border: 0px;
  border-radius: 5px;
}

.remove{
  position: relative;
  top: -7px;
  right: 5px;
  font-size: 12px;
  color: #ffffff;
  border: 0px;
  z-index: 1;
  border-radius: 50%;
  background: red;
}
.wrapper .d-none {
    display: block !important;
}