#enroll_teacher{
	border-radius: 10px;
  	background-color: #f6f6fa;
  	padding: 40px 30px
}

#enroll_teacher header{
	max-width: 385px;
	width: 100%
}

#enroll_teacher #search{
	max-width: 431px;
	width: 100%
}

#enroll_teacher input{
	border-color: #e2e2e2;
}

#enroll_teacher #card_blk{
	max-width: 700px;
	width: 100%
}