#enroll_student{
  border-radius: 10px;
    background-color: #fff;
    /* padding: 40px 30px */
}

#enroll_student header{
  max-width: 385px;
  width: 100%
}
#enroll_student #card_blk{
  max-width: 700px;
  width: 100%
}
#enroll_student #card_blk table{
  max-width: 600px;
}
#enroll_student #assign_sub_blk{
  padding: 40px 150px
}
#enroll_student #card_blk table th{
  padding-bottom: 30px
}
#enroll_student #card_blk table .cat_td{
  width: 50%
}
#enroll_student #card_blk table select{
  max-width: 300px;
  width: 100%
}
#enroll_student table tbody td{
  padding-bottom: 20px;
  color: #181818;
}
.sub_assign_active{
  opacity: 0.4;
  pointer-events: none;
}
.btn-blue{
  background-color: #3395ff;
}
#enroll_student_sub_blk table select{
  max-width: 198px;
  width: 100%
}
#enroll_student_sub_blk table th{
  padding: 1rem;
  text-align: center;
}
#enroll_student_sub_blk table tbody td{
  padding: 10px
}
#enroll_student_sub_blk .table-responsive{
  height: auto;
  max-height: 300px;
}

@media(max-width: 1000px){
  #enroll_student #assign_sub_blk{
    padding: 40px 30px;
  }
}

.btn-light-warning:hover{
  color: #fff;
}
.btn-light-primary:hover{
  color: #fff;
}