body{
    
}
.template {
    height: 670px;
    background-image: url('../../scientific6_images/scientific6.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
.carousel-content {
    color:black;
    /*display:flex;*/
    align-items:center;
}

.carousel-inner{
    top: 25px;
}
ul{
   margin-left: -1px;
}

li{
    list-style-type: none;
    /*word-wrap:break-word;*/
    font-family:century gothic;
    font-weight:bold;
    font-size:20px;
    text-align: initial;
}
li img{
    width: 30px;
}

.img_desc{
    font-size: 20px;
    margin-top: 7px;
    font-family: century gothic;
    font-weight: bold;
}
.img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7{
    width: 46%;
}
.img_center_1{
    position: relative;
    left: 320px;
    max-width: 62%;
    top: -83px;
}
.img_center_2{
    position: absolute;
    left: 320px;
    max-width: 62%;
    top: 5px;
}
.img_center_3{
    position: absolute;
    left: 320px;
    max-width: 62%;
    top: -22px;
}
#_ojective1 {
    margin-top: 0px;
    width: 27px;
    left: 0px;
}
.content_part {
    top: 22px;
    left: 164px;
}
.content_part li{
    font-size: 19px;
}
#_objective2{
    margin-top: -3px;
    width: 24px;
    left: 0px
}
#_objective3{
    margin-top: -6px;
    width: 22px;
    left: 0px;
}
#_objective4 {
    margin-top: -6px;
    width: 22px;
    left: 0px;
}
#_objective5 {
    margin-top: -3px;
    width: 23px;
    left: 0px;
}
.content_part3 {
    top: 22px;
    left: 164px;
}
.content_part3 li{
    font-size: 19px;
}
.img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
.content_part4 {
    top: 44px;
    left: 164px;
}
.content_part4 li{
    font-size: 20px;
}
.content_part5 {
    top: 44px;
    left: 164px;
}
.content_part5 li{
    font-size: 16px;
}
._content_part6 p{
    color: blue;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 0px;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 240px) {
    h2{
        font-size: 15px;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 1px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -54px;
    }
    .content_part1 li{
        font-size: -58px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 12px;
        text-align: initial;
        line-height: 1;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 89%;
        position: absolute;
        left: -13px;
        top: 17px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 10px;
        margin-left: -13px;
        margin-top: 23px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 2px;
        max-width: 64%;
        top: -1px;
    }
    .img_center_2 {
        position: relative;
        left: 10px;
        max-width: 64%;
        top: 1px;
    }
    
    .img_center_3 {
        position: absolute;
        left: -4px;
        max-width: 0%;
        top: -6px;
    }
     #_objective1 {
        margin-top: -2px;
        width: 20px;
        left: 0px;
    }
    .content_part {
        top: 5px;
        left: 4px;
    }
    .content_part li{
        font-size: 48px;
        margin-left:
        #_objective2{
            margin-top: 0px;
            width: 24px;
            left: 0px
            } -10px;
            #_objective3{
                margin-top: 0px;
                width: 25px;
                left: 0px;
            }
            #_objective4 {
                margin-top: 0px;
                width: 25px;
                left: 0px;
            }
            #_objective5 {
                margin-top: 0px;
                width: 25px;
                left: 0px;
            }
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 11px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 12px;
        line-height: 1;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 12px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 11px;
    margin-top: 0px;
    margin-left: 16px;
}
} 
@media only screen and (min-width : 320px) {
    h2{
        font-size: 17px;
        font-weight: bold;
        margin-top: 38px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -58px;
    }
    .content_part1 li{
        font-size: 8px;
        width: -90%;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 14px;
        text-align: initial;
        line-height: 1;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 77%;
        position: absolute;
        left: -9px;
        margin-top: 16px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 10px;
        margin-left: -21px;
        margin-top: 34px;
        font-family: century gothic;
        width: 122%;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 11px;
        max-width: 41%;
        top: -5px;
    }
    .img_center_2 {
        position: relative;
        left: 32px;
        max-width: 66%;
        top: 8px;
    }
    
    .img_center_3 {
        position: relative;
        left: -4px;
        max-width: 48%;
        top: -6px;
    }
    #_objective1 {
        margin-top: -1px;
        width: 21px;
        left: 0px;
    }
    .content_part {
        top: -6px;
        left: 3px;
    }
    .content_part li{
        font-size: 12px;
    }
    #_objective2{
        margin-top: -3px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -7px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -6px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: -4px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 12px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 12px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 12px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 25px;
}
}
@media only screen and (min-width : 400px) {
    h2{
        font-size: 20px;
        font-weight: bold;
        margin-top: 30px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -54px;
    }
    .content_part1 li{
        font-size: 20px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 14px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 75%;
        position: absolute;
        left: -13px;
        margin-top: 1px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 12px;
        margin-left: -20px;
        margin-top: 22px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 11px;
        max-width: 60%;
        top: 2px;
        height: 62px;
    }
    .img_center_2 {
        position: relative;
        left: 67px;
        max-width: 46%;
        top: -8px;
    }
    
    .img_center_3 {
        position: absolute;
        left: 88px;
        max-width: 44%;
        top: -6px;
    }
    #_objective1 {
        margin-top: -5px;
        width: 22px;
        left: 0px;
    }
    .content_part {
        top: 5px;
        left: 2px;
    }
    .content_part li{
        font-size: 13px;
    }
    #_objective2{
        margin-top: -6px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -7px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -7px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: -3px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 14px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 14px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 14px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 13px;
    margin-top: 9px;
    margin-left: 54px;
}
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    h2{
        font-size: 20px;
        font-weight: bold;
        margin-left: 30px;
        margin-top: 20px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -54px;
    }
    .content_part1 li{
        font-size: 20px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 14px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 83%;
        position: absolute;
        left: -11px;
        top: 26px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 14px;
        margin-left: -26px;
        margin-top: 40px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 0px;
        max-width: 100%;
        top: -1px;
    }
    .img_center_2 {
        position: relative;
        left: 60px;
        max-width: 60%;
        top: -4px;
    }
    
    .img_center_3 {
        position: relative;
        left: 0px;
        max-width: 39%;
        top: -7px;
    }
     #_objective1 {
        margin-top: -5px;
        width: 23px;
        left: 0px;
    }
    .content_part {
        top: -9px;
        left: 4px;
    }
    .content_part li{
        font-size: 14px;
    }
    #_objective2{
        margin-top: -6px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -8px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -7px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: -3px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 14px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 14px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 16px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 14px;
    margin-top: 42px;
    margin-left: 34px;
}
}
@media only screen and (min-width : 550px) {
    h2{
        font-size: 22px;
        font-weight: bold;
        margin-top: 40px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -54px;
    }
    .content_part1 li{
        font-size: 20px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 16px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 61%;
        position: absolute;
        left: -11px;
        top: 16px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 14px;
        margin-left: -36px;
        margin-top: 30px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 0px;
        width: 33%;
        top: 11px;
    }
    .img_center_2 {
        position: relative;
        left: 93px;
        max-width: 48%;
        top: 8px;
    }
    
    .img_center_3 {
        position: relative;
        left: 0px;
        max-width: 34%;
        top: -7px;
    }
    #_objective1 {
        margin-top: -5px;
        width: 23px;
        left: 0px;
    }
    .content_part {
        top: 7px;
        left: 8px;
    }
    .content_part li{
        font-size: 16px;
    }
    #_objective2{
        margin-top: -5px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -6px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -6px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: 0px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 16px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 16px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 16px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 16px;
    margin-top: 13px;
    margin-left: 28px;
}

}
@media only screen and (min-width : 650px) {
    h2{
        font-size: 23px;
        font-weight: bold;
        margin-top: 40px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -54px;
    }
    .content_part1 li{
        font-size: 20px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 16px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 61%;
        position: absolute;
        left: -12px;
        top: 20px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 16px;
        margin-left: -45px;
        margin-top: 30px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 0px;
        max-width: 100%;
        top: 17px;
    }
    .img_center_2 {
        position: relative;
        left: 93px;
        max-width: 52%;
        top: 12px;
    }
    
    .img_center_3 {
        position: relative;
        left: 0px;
        max-width: 34%;
        top: -7px;
    }
    #_objective1 {
        margin-top: -6px;
        width: 24px;
        left: 0px;
    }
    .content_part {
        top: 4px;
        left: 4px;
    }
    .content_part li{
        font-size: 17px;
    }
    #_objective2{
        margin-top: -5px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -5px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -5px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: -2px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 16px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 16px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 16px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 16px;
    margin-top: 43px;
    margin-left: 36px;
}

}
@media only screen and (min-width : 690px) {
    h2{
        font-size: 23px;
        font-weight: bold;
        margin-top: 50px;
        margin-left: 0px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -54px;
    }
    .content_part1 li{
        font-size: 20px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 16px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 51%;
        position: absolute;
        left: -8px;
        top: 11px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 16px;
        margin-left: -59px;
        margin-top: 21px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 23px;
        max-width: 100%;
        top: 20px;
    }
    .img_center_2 {
        position: relative;
        left: 153px;
        max-width: 50%;
        top: 4px;
    }
    
    .img_center_3 {
        position: relative;
        left: 0px;
        max-width: 34%;
        top: -7px;
    }
    #_objective1 {
        margin-top: -5px;
        width: 25px;
        left: 0px;
    }
    .content_part {
        top: -7px;
        left: 1px;
    }
    .content_part li{
        font-size: 18px;
    }
    #_objective2{
        margin-top: -5px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -5px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -4px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: 0px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 18px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 18px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 18px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 16px;
    margin-top: 36px;
    margin-left: 63px;
}

}
/* Small Devices, Tablets */
@media only screen and (min-width : 780px) {
    h2{
        font-size: 23px;
        font-weight: bold;
        margin-top: 50px;
        margin-left: -10px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -54px;
    }
    .content_part1 li{
        font-size: 20px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 18px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 56%;
        position: absolute;
        left: -19px;
        top: 13px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 16px;
        margin-left: -28px;
        margin-top: 18px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 48px;
        max-width: 100%;
        top: 29px;
    }
    .img_center_2 {
        position: relative;
        left: 147px;
        max-width: 42%;
        top: 13px;
    }
    
    .img_center_3 {
        position: relative;
        left: 120px;
        max-width: 58%;
        top: -7px;
    }
    #_objective1 {
        margin-top: -5px;
        width: 25px;
        left: 0px;
    }
    .content_part {
        top: -7px;
        left: 6px;
    }
    .content_part li{
        font-size: 18px;
    }
    #_objective2{
        margin-top: -4px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -6px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -4px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: 0px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 16px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 18px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 18px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 18px;
    margin-top: 36px;
    margin-left: 85px;
}

}
@media only screen and (min-width : 800px) {
    h2{
        font-size: 23px;
        font-weight: bold;
        margin-top: 40px;
        margin-left: 0px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -54px;
    }
    .content_part1 li{
        font-size: 20px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 18px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 61%;
        position: absolute;
        left: -6px;
        top: 5px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 18px;
        margin-left: -25px;
        margin-top: 24px;
        font-family: century gothic;
        width: 95%;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 36px;
        max-width: 99%;
        top: 13px;
    }
    .img_center_2 {
        position: relative;
        left: 193px;
        max-width: 46%;
        top: 19px;
    }
    
    .img_center_3 {
        position: relative;
        left: 120px;
        max-width: 63%;
        top: 2px;
    }
    #_objective1 {
        margin-top: -5px;
        width: 27px;
        left: 0px;
    }
    .content_part {
        top: 3px;
        left: 4px;
    }
    .content_part li{
        font-size: 19px;
    }
    #_objective2{
        margin-top: -3px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -4px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -4px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: 0px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 18px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 19px;
        margin-top: 16px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 18px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 18px;
    margin-top: 38px;
    margin-left: 98px;
}

}
/* Medium Devices, Desktops */
@media only screen and (min-width : 900px) {
    h2{
        font-size: 23px;
        font-weight: bold;
        margin-top: 44px;
        margin-left: 3px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -54px;
        width: 106%;
    }
    .content_part1 li{
        font-size: 12px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 20px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 61%;
        position: absolute;
        left: -15px;
        top: -3px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 20px;
        margin-left: -54px;
        margin-top: -2px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 22px;
        max-width: 22%;
        top: 34px;
    }
    .img_center_2 {
        position: relative;
        left: 223px;
        max-width: 47%;
        top: -2px;
    }
    
    .img_center_3 {
        position: relative;
        left: 263px;
        max-width: 34%;
        top: -36px;
    }
    #_objective1 {
        margin-top: 0px;
        width: 27px;
        left: 0px;
    }
    .content_part {
        top: -5px;
        left: 7px;
    }
    .content_part li{
        font-size: 20px;
    }
    #_objective2{
        margin-top: 0px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -3px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -3px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: 0px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 20px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 20px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 18px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 18px;
    margin-top: 26px;
    margin-left: 116px;
}

}

@media only screen and (min-width : 950px) {
    h2{
        font-size: 23px;
        font-weight: bold;
        margin-top: 43px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -54px;
        width: 106%;
    }
    .content_part1 li{
        font-size: 12px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 20px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 50%;
        position: absolute;
        left: 35px;
        top: 6px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 20px;
        margin-left: -14px;
        margin-top: 8px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 10px;
        max-width: 25%;
        top: 0px;
        height: 100px;
    }
    .img_center_2 {
        position: relative;
        left: 224px;
        max-width: 43%;
        top: -1px;
    }
    
    .img_center_3 {
        position: relative;
        left: 263px;
        max-width: 34%;
        top: -36px;
    }
    #_objective1 {
        margin-top: -3px;
        width: 27px;
        left: 0px;
    }
    .content_part {
        top: 1px;
        left: 1px;
    }
    .content_part li{
        font-size: 20px;
    }
    #_objective2{
        margin-top: -2px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -3px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -3px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: 2px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 20px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 20px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 20px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 120px;
}

}

@media only screen and (min-width : 1000px) {
    h2{
        font-size: 24px;
        font-weight: bold;
        margin-top: 44px;
        margin-left: 10px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -54px;
        width: 106%;
    }
    .content_part1 li{
        font-size: 12px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 20px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 52%;
        position: absolute;
        left: 0px;
        top: -2px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 20px;
        margin-left: -51px;
        margin-top: 20px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 52px;
        max-width: 20%;
        top: 15px;
        height: 99px;
    }
    .img_center_2 {
        position: relative;
        left: 229px;
        max-width: 42%;
        top: 12px;
    }
    
    .img_center_3 {
        position: relative;
        left: 263px;
        max-width: 34%;
        top: -36px;
    }
    #_objective1 {
        margin-top: -3px;
        width: 27px;
        left: 0px;
    }
    .content_part {
        top: 6px;
        left: 8px;
    }
    .content_part li{
        font-size: 20px;
    }
    #_objective2{
        margin-top: -3px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -4px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -3px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: 0px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 20px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 20px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 20px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 20px;
    margin-top: 36px;
    margin-left: 150px;
}

}

@media only screen and (min-width : 1100px) {
    h2{
        font-size: 24px;
        font-weight: bold;
        margin-top: 43px;
        margin-left: 29px;
    }
    ul {
        margin-left: -45px;
    }
    .content_part1 ul{
        margin-left: -59px;
        width: 95%;
    }
    .content_part1 li{
        font-size: 20px;
    }
    li {
        list-style-type: none;
        /* word-wrap: break-word; */
        font-family: century gothic;
        font-weight: bold;
        font-size: 20px;
        text-align: initial;
    }
    
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7 {
        width: 43%;
        position: absolute;
        left: 16px;
        top: 15px;
    }
    .col-xs-9 {
        width: 100%;
    }
    .img_desc {
        font-size: 20px;
        margin-left: -74px;
        margin-top: 29px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_center_1 {
        position: relative;
        left: 44px;
        max-width: 19%;
        top: 13px;
        height: 130px;
    }
    .img_center_2 {
        position: relative;
        left: 235px;
        max-width: 41%;
        top: 31px;
    }
    
    .img_center_3 {
        position: relative;
        left: 263px;
        max-width: 34%;
        top: -36px;
    }
    #_objective1 {
        margin-top: -3px;
        width: 27px;
        left: 0px;
    }
    .content_part {
        top: 5px;
        left: 6px;
    }
    .content_part li{
        font-size: 20px;
    }
    #_objective2{
        margin-top: -3px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -4px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -2px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: 0px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 20px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 20px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 20px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 20px;
    margin-top: 28px;
    margin-left: 168px;
}

}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    h2{
        font-size: 24px;
        font-weight: bold;
        margin-top: 43px;
    }
    ul{
       margin-left: -45px;
    }

    li{
        list-style-type: none;
        /*word-wrap:break-word;*/
        font-family:century gothic;
        font-weight:bold;
        font-size: 20px;
        text-align: initial;
    }
    li img{
        width:20px;
    }
    .col-md-9 {
        width: 75%;
    }
    .img_desc{
        font-size: 20px;
        margin-top: 24px;
        font-family: century gothic;
        font-weight: bold;
    }
    .img_left_1, .img_left_2, .img_left_3, .img_left_4, .img_left_5, .img_left_6, .img_left_7{
        width: 46%;
        position: relative;
        left: -116px;
        top: 11px;
    }
    .img_center_1{
        position: relative;
        left: 35px;
        max-width: 14%;
        top: 18px;
        height: 119px;
    }
    .img_center_2{
        position: relative;
        left: 270px;
        max-width: 42%;
        top: 3px;
    }
    .img_center_3{
        position: absolute;
        left: 320px;
        max-width: 62%;
        top: -22px;
    }
    #_objective1 {
        margin-top: -3px;
        width: 27px;
        left: 0px;
    }
    .content_part {
        top: 29px;
        left: 1px;
    }
    .content_part li{
        font-size: 20px;
    }
    #_objective2{
        margin-top: -3px;
        width: 24px;
        left: 0px
    }
    #_objective3{
        margin-top: -3px;
        width: 25px;
        left: 0px;
    }
    #_objective4 {
        margin-top: -3px;
        width: 25px;
        left: 0px;
    }
    #_objective5 {
        margin-top: 0px;
        width: 25px;
        left: 0px;
    }
    .content_part3 {
        top: 44px;
        left: 164px;
    }
    .content_part3 li{
        font-size: 20px;
    }
    .img_desc1 {
        font-size: 20px;
        margin-left: 34px;
        margin-top: -3px;
        font-family: century gothic;
        font-weight: bold;
    }
    .content_part4 {
        top: 44px;
        left: 164px;
    }
    .content_part4 li{
        font-size: 20px;
    }
    .content_part5 {
        top: 44px;
        left: 164px;
    }
    .content_part5 li{
        font-size: 20px;
    }
    ._content_part6 p{
    color: blue;
    font-size: 20px;
    margin-top: 31px;
    margin-left: 162px;
}

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
        
}
