body {
    font-family: Arial;
    font-size: 10pt;
}

.template {
    height: 670px;
    background-image: url('../../national6_images/national6.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

li {
    font-weight: 500 !important;
}

#_objective b {
    position: absolute;
    left: 201px;
    top: 40px;
    border: 1px solid gray;
    font-size: 27px;
    box-shadow: 0px 0px 3px;
    padding: 5px;
    border-radius: 5px;
}

#question {
    font-family: century Gothic;
    font-size: 18px;
    left: 193px;
    position: absolute;
    top: 131px;
}

li {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
}

.valid_msg {
    position: absolute;
    top: 100px;
}

._options {
    background: #fafad2 none repeat scroll 0 0;
    border: 3px solid green;
    border-radius: 10px;
    font-family: century gothic;
    font-size: 16px;
    height: 149px;
    margin-left: 88px;
    margin-top: -301px;
    padding: 6px;
    position: absolute;
    width: 745px;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}


/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 1040px) {
    li {
        font-size: 14px;
    }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    #_objective b {
        top: 31px;
        left: 103px;
    }
    #question {
        font-size: 16px;
        top: 98px;
        left: 93px;
    }
    li {
        font-size: 15px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 500px) {
    #question {
        font-size: 15px;
    }
    li {
        font-size: 14px;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 480px) {
    #_objective b {
        left: 66px;
        top: 40px;
        font-size: 20px;
    }
    #question {
        font-size: 14px;
        top: 98px;
        left: 48px;
    }
    li {
        font-size: 12px;
    }
}

@media only screen and (max-width: 370px) {
    #_objective b {
        left: 62px;
        top: 30px;
        font-size: 14px;
    }
    #question {
        font-size: 15px;
        left: 45px;
        top: 84px;
    }
    li {
        font-size: 14px;
        padding: 1px;
    }
}

@media only screen and (max-width: 330px) {
    #_objective b {
        left: 51px;
        top: 16px;
        font-size: 14px;
    }
    #question {
        font-size: 13px;
        left: 28px;
        top: 85px;
    }
    li {
        font-size: 13px;
        padding: 0px;
    }
}
