body{
    
}
.template {
    height: 670px;
    background-image: url('../../acadamic6_images/acadamic6.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    overflow:hidden;
}

._content1 img{
    width: 430px;
    position: absolute;
    top: 195px;
    left: 36px;


}



    #_objective1 {
    margin-top: 2px;
    width: 27px;
}

.img1 {position: absolute;margin-top: 7%;left: 20%;}
    
    .img2 {position: absolute;top: -30%;left: 0%;}
    
    .img3 {position: absolute;top:0%;left: -10%;}


._content5 img{
    width: 240px;
}

._content7 img{
    width: 310px;
    position: absolute;
    top: 30px;
    left: 141px;
}

#_objective h2{
    
    position: relative;
    top: 34px;
    
}

.content_part{
    top: 87px;
    left: 168px;
    width: 80%;
}
ul{
               margin-left: -1px;
}

li{
    list-style-type: none;
    /*word-wrap:break-word;*/
    font-family:century gothic;
    font-weight:bold;
    font-size:20px;
    text-align: initial;
}
li img{
    width:20px;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

    ._content1 img{
    width: 430px;
    position: absolute;
    top: 195px;
    left: 36px;


}

    #_objective h2{
        top: 71px;
        
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

    ._content1 img{
    width: 320px;
    position: absolute;
    top: 108px;
    height: 147px;
    left: 240px;


}

    
    #_objective h2{
    top: 22px;
    margin-left: 77px;
    font-size: 27px;
    font-weight: bold;
    }

}

/* Small Devices, Tablets */


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    ._content1 img{
    width: 300px;
    position: absolute;
    top: 85px;
    left: 197px;


}

    #_objective h2{
    top: 17px;
    margin-left: -88px;
    font-weight: bold;
    left: 144px;
    }
    
    .img1 {position: absolute;margin-top: 2%;left: 71%;}
    
    .img2 {position: absolute;top: -30%;left: 39%;}
    
    .img3 {position: absolute;top:0%;left: 7%;}
    .content_part {
    top: 79px;
    left: 138px;
    width: 80%;
    }
    
    
   ._content5 img{
    width: 207px;
}
    
     ul{
                margin-left: -13px;
}
    
        
    #_objective1 {
    margin-top: 3px;
    width: 27px;
}
    
    .content_part li{
    font-size: 20px;
    }
    

}

@media only screen and (max-width : 1025px) {

    ._content1 img{
    width: 300px;
    position: absolute;
    top: 85px;
    left: 197px;


}

    #_objective h2{
    top: 28px;
    margin-left: -100px;
    font-weight: bold;
    left: 144px;
    }
    .content_part {
    top: 48px;
    left: 138px;
    width: 80%;
    }
    
    .img1 {position: absolute;margin-top: 3%;left: 69%;}
    
    .img2 {position: absolute;top: -30%;left: 38%;}
    
    .img3 {position: absolute;top:0%;left: 6%;}
    
    ._content5 img{
    width: 210px;
}
    
     ul{
                margin-left: -13px;
}
    
        
    #_objective1 {
    margin-top: 3px;
    width: 27px;
}
    
    .content_part li{
    font-size: 20px;
    }
    

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    ._content1 img{
    width: 300px;
    position: absolute;
    top: 85px;
    left: 197px;


}

    #_objective h2{
    top: 15px;
    margin-left: -78px;
    font-weight: bold;
    left: 115px;
    }
    
    
     .img1 {position: absolute;margin-top: 1%;left: 70%;}
    
    .img2 {position: absolute;top: -30%;left: 38%;}
    
    .img3 {position: absolute;top:0%;left: 5%;}
    
    
    .content_part {
    top: 29px;
    left: 110px;
    width: 80%;
    }
        ._content5 img{
    width: 210px;
}
    
     ul{
                margin-left: -13px;
}
    
        
    #_objective1 {
    margin-top: 3px;
    width: 27px;
}
    
    .content_part li{
    font-size: 20px;
    }
    


}

@media only screen and (max-width : 800px) {

    ._content1 img{
    width: 290px;
    position: absolute;
    top: 75px;
    left: 169px;


}

.img1 {position: absolute;margin-top: 2%;left: 70%;}
    
    .img2 {position: absolute;top: -30%;left: 40%;}
    
    .img3 {position: absolute;top:0%;left: 7%;}

    
        ._content5 img{
    width: 150px;
 
}
    #_objective h2{
    top: 7px;
    margin-left: -73px;
    }
    .content_part {
     top: 13px;
     left: 270px;
    }
    
    ul{
    margin-left: -167px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

   ._content1 img{
    width: 290px;
    position: absolute;
    top: 75px;
    left: 169px;


}

.img1 {position: absolute;margin-top: 2%;left: 70%;}
    
    .img2 {position: absolute;top: -30%;left: 40%;}
    
    .img3 {position: absolute;top:0%;left: 7%;}

    
        ._content5 img{
    width: 150px;
 
}
    #_objective h2{
    top: 7px;
    margin-left: -73px;
    }
    .content_part {
     top: 13px;
     left: 270px;
    }
    
    ul{
    margin-left: -167px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}

/* Small Devices, Tablets */
@media only screen and (max-width : 700px) {

    ._content1 img{
    width: 290px;
    position: absolute;
    top: 75px;
    left: 169px;


}

.img1 {position: absolute;margin-top: 2%;left: 70%;}
    
    .img2 {position: absolute;top: -30%;left: 40%;}
    
    .img3 {position: absolute;top:0%;left: 7%;}

    
        ._content5 img{
    width: 150px;
 
}
    #_objective h2{
    top: 7px;
    margin-left: -73px;
    }
    .content_part {
     top: 13px;
     left: 270px;
    }
    
    ul{
    margin-left: -167px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}

/* Small Devices, Tablets */
@media only screen and (max-width : 650px) {

    ._content1 img{
    width: 290px;
    position: absolute;
    top: 75px;
    left: 169px;


}

.img1 {position: absolute;margin-top: 2%;left: 70%;}
    
    .img2 {position: absolute;top: -30%;left: 40%;}
    
    .img3 {position: absolute;top:0%;left: 7%;}

    
        ._content5 img{
    width: 150px;
 
}
    #_objective h2{
    top: 7px;
    margin-left: -73px;
    }
    .content_part {
     top: 13px;
     left: 270px;
    }
    
    ul{
    margin-left: -167px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}

@media only screen and (max-width : 600px) {

    ._content1 img{
    width: 290px;
    position: absolute;
    top: 75px;
    left: 169px;


}

.img1 {position: absolute;margin-top: 2%;left: 70%;}
    
    .img2 {position: absolute;top: -30%;left: 40%;}
    
    .img3 {position: absolute;top:0%;left: 7%;}

    
        ._content5 img{
    width: 150px;
 
}
    #_objective h2{
    top: 7px;
    margin-left: -73px;
    }
    .content_part {
     top: 13px;
     left: 270px;
    }
    
    ul{
    margin-left: -167px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}


@media only screen and (max-width : 550px) {

    ._content1 img{
    width: 290px;
    position: absolute;
    top: 75px;
    left: 169px;


}

.img1 {position: absolute;margin-top: 2%;left: 70%;}
    
    .img2 {position: absolute;top: -30%;left: 40%;}
    
    .img3 {position: absolute;top:0%;left: 7%;}

    
        ._content5 img{
    width: 106px;
}
    #_objective h2{
    top: 7px;
    margin-left: -73px;
    }
    .content_part {
     top: 13px;
     left: 270px;
    }
    
    ul{
    margin-left: -167px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    ._content1 img{
    width: 290px;
    position: absolute;
    top: 75px;
    left: 169px;


}

.img1 {position: absolute;margin-top: 2%;left: 70%;}
    
    .img2 {position: absolute;top: -30%;left: 40%;}
    
    .img3 {position: absolute;top:0%;left: 7%;}

    
        ._content5 img{
    width:90px;
}
    #_objective h2{
    top: 7px;
    margin-left: -73px;
    }
    .content_part {
     top: 13px;
     left: 270px;
    }
    
    ul{
    margin-left: -167px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 400px) {

     ._content1 img{
    width: 290px;
    position: absolute;
    top: 75px;
    left: 169px;


}

.img1 {position: absolute;margin-top: 2%;left: 70%;}
    
    .img2 {position: absolute;top: -30%;left: 40%;}
    
    .img3 {position: absolute;top:0%;left: 7%;}

    
        ._content5 img{
    width:80px;
}
    #_objective h2{
    top: 7px;
    margin-left: -73px;
    }
    .content_part {
     top: 13px;
     left: 270px;
    }
    
    ul{
    margin-left: -167px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}



/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

    ._content1 img{
    width: 290px;
    position: absolute;
    top: 75px;
    left: 169px;


}

.img1 {position: absolute;margin-top: 2%;left: 70%;}
    
    .img2 {position: absolute;top: -30%;left: 40%;}
    
    .img3 {position: absolute;top:0%;left: 7%;}

    
        ._content5 img{
    width:70px;
}
    #_objective h2{
    top: 7px;
    margin-left: -73px;
    }
    .content_part {
     top: 13px;
     left: 270px;
    }
    
    ul{
    margin-left: -167px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}
