body{
    
}
.template {
    height: 670px;
    background-image: url('../../striving6_images/striving6.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    overflow:hidden;
}

._content1 img{
    width: 430px;
    position: absolute;
    top: 195px;
    left: 36px;


}



    #_objective1 {
    margin-top: 2px;
    width: 27px;
}


._content5 img{
    width: 381px;
    position: absolute;
    top: 75px;
    left: 175px;
}
._content7 img{
    width: 381px;
    position: absolute;
    top: 165px;
    left: 175px;
}


#_objective h2{
    
    position: relative;
    top: 34px;
    
}

.content_part{
    top: 144px;
    left: 168px;
}
ul{
               margin-left: -1px;
}

li{
    list-style-type: none;
    /*word-wrap:break-word;*/
    font-family:century gothic;
    font-weight:bold;
    font-size:20px;
    text-align: initial;
}
li img{
    width:20px;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

    ._content1 img{
    width: 430px;
    position: absolute;
    top: 195px;
    left: 36px;


}

    #_objective h2{
        top: 71px;
        
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

    ._content1 img{
    width: 320px;
    position: absolute;
    top: 108px;
    height: 147px;
    left: 240px;


}

    
    #_objective h2{
    top: 122px;
    margin-left: 247px;
    font-size: 27px;
    font-weight: bold;
    }

}

/* Small Devices, Tablets */


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    ._content1 img{
    width: 300px;
    position: absolute;
    top: 85px;
    left: 197px;


}

    #_objective h2{
    top: 133px;
    margin-left: 62px;
    font-weight: bold;
    left: 144px;
    }
    .content_part {
    top: 145px;
    left: 138px;
    }
        ._content7 img{
    width: 310px;
    position: absolute;
    top: 205px;
    left: 141px;
}
    
     ul{
                margin-left: -13px;
}
    
        
    #_objective1 {
    margin-top: 3px;
    width: 27px;
}
    
    .content_part li{
    font-size: 20px;
    }
    

}

@media only screen and (max-width : 1025px) {

    ._content1 img{
    width: 300px;
    position: absolute;
    top: 85px;
    left: 197px;


}

    #_objective h2{
    top: 134px;
    margin-left: 62px;
    font-weight: bold;
    left: 144px;
    }
    .content_part {
    top: 130px;
    left: 138px;
    }
        ._content7 img{
    width: 310px;
    position: absolute;
    top: 197px;
    left: 147px;
}
    
     ul{
                margin-left: -13px;
}
    
        
    #_objective1 {
    margin-top: 3px;
    width: 27px;
}
    
    .content_part li{
    font-size: 20px;
    }
    

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    ._content1 img{
    width: 300px;
    position: absolute;
    top: 85px;
    left: 197px;


}

    #_objective h2{
    top: 75px;
    margin-left: 62px;
    font-weight: bold;
    left: 115px;
    }
    .content_part {
    top: 64px;
    left: 110px;
    }
        ._content7 img{
    width: 310px;
    position: absolute;
    top: 105px;
    left: 76px;
}
    
     ul{
                margin-left: -13px;
}
    
        
    #_objective1 {
    margin-top: 3px;
    width: 27px;
}
    
    .content_part li{
    font-size: 20px;
    }
    


}

@media only screen and (max-width : 800px) {

    ._content1 img{
    width: 290px;
    position: absolute;
    top: 75px;
    left: 169px;


}

    
        ._content7 img{
    width: 150px;
    position: absolute;
    top: 374px;
    left: -86px;
}
    #_objective h2{
    top: 117px;
    margin-left: 67px;
    }
    .content_part {
     top: 113px;
     left: 270px;
    }
    
    ul{
    margin-left: -167px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    ._content1 img{
    width: 280px;
    position: absolute;
    top: 26px;
    left: 282px;


}

    
        ._content7 img{
    width: 140px;
    position: absolute;
    top: 133px;
    left: 286px;
}
    #_objective h2{
    top: 110px;
    margin-left: 38px;
    }
    .content_part {
    top: 122px;
    left: -99px;
    }
    
    ul{
           margin-left: 176px;
}
    
        #_objective1 {
    margin-top: 0px;
    width: 27px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}

/* Small Devices, Tablets */
@media only screen and (max-width : 700px) {

    ._content1 img{
    width: 270px;
    position: absolute;
    top: 35px;
    left: 239px;


}

    #_objective h2{
    top: 113px;
    margin-left: 8px;
    font-size: 21px;
 }
    
        ._content7 img{
      width: 151px;
      position: absolute;
      top: 100px;
      left: 246px;
}
    .content_part {
       top: 106px;
       left: -37px;
    }
    
    ul{
            margin-left:78px;
}
    
        #_objective1 {
margin-top: 1px;
    width: 23px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}

/* Small Devices, Tablets */
@media only screen and (max-width : 650px) {

    ._content1 img{
    width: 260px;
    position: absolute;
    top: 55px;
    left: 217px;


}

    #_objective h2{
    top: 108px;
    margin-left: -1px;
    font-size: 23px;
 }
    
        ._content7 img{
    width: 148px;
    position: absolute;
    top: 100px;
    left: 196px;
}
    .content_part {
    top: 113px;
    left: -58px;
    }
    
    ul{
          margin-left:92px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}

@media only screen and (max-width : 600px) {

    ._content1 img{
    width: 260px;
    position: absolute;
    top: 55px;
    left: 217px;


}

    #_objective h2{
    top: 93px;
    margin-left: -25px;
    font-size: 23px;
 }
    
        ._content7 img{
    width: 127px;
    position: absolute;
    top: 100px;
    left: 175px;
}
    .content_part {
    top: 98px;
    left: -81px;
    }
    
    ul{
          margin-left:92px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}


@media only screen and (max-width : 550px) {

    ._content1 img{
    width: 260px;
    position: absolute;
    top: 55px;
    left: 217px;


}

    #_objective h2{
     top: 100px;
     margin-left: -28px;
     font-size: 23px;
 }
    
        ._content7 img{
     width: 137px;
     position: absolute;
     top: 100px;
     left: 166px;
}
    .content_part {
      top: 104px;
      left: -6px;
    }
    
    ul{
            margin-left: 12px;
}
    
        #_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
    .content_part li{
        font-size: 18px;
    }
    
li img{
    width:15px;
}
    


}



/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    ._content1 img{
    width: 230px;
    position: absolute;
    top: 95px;
    height: 110px;
    left: 101px;


}

    
        ._content7 img{
    width: 120px;
    position: absolute;
    top: 100px;
    left: 155px;
}
    #_objective h2{
      top: 99px;
      font-size: 19px;
      margin-left: -45px;
 }
    
    #_objective1 {
    margin-top: -1px;
    width: 27px;
}

ul{
                margin-left: 1px;
}
    .content_part {
     top: 100px;
     left: -11px;
     }
    .content_part li{
      font-size: 16px;
    }
    
    li img{
    width:15px;
}
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 400px) {

    ._content1 img{
    width: 230px;
    position: absolute;
    top: 95px;
    height: 110px;
    left: 101px;


}

    
        ._content7 img{
    width: 117px;
    position: absolute;
    top: 100px;
    left: 104px;
}
    #_objective h2{
    top: 91px;
    font-size: 19px;
    margin-left: -53px;
 }
    
    #_objective1 {
    margin-top: -1px;
    width: 27px;
}

ul{
                margin-left: 13px;
                top: 60px !important;
                position: relative;
}
    .content_part {
    top: 34px;
    left: -31px;
    }
    .content_part li{
      font-size: 16px;
    }
    
    li img{
    width:15px;
}
    
}


/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

    ._content1 img{
    width: 230px;
    position: absolute;
    top: 95px;
    height: 110px;
    left: 101px;


}

    
        ._content7 img{
    width: 81px;
    position: absolute;
    top: 32px;
    left: 96px;



}
    #_objective h2{
top: 23px;
    font-size: 19px;
    margin-left: 71px;
 
    }
    
    #_objective1 {
    margin-top: -1px;
    width: 27px;
}

ul{
    margin-left: -36px;
}
    .content_part {
    top: 25px;
    left: -1px;
     }
    .content_part li{
      font-size: 16px;
    }
    
    li img{
    width:15px;
}
    
}
