<!Doctype HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PREPMYSKILLS - CBSE PROGRAM</title>
        <link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link rel='stylesheet prefetch' href='../../../../assets/css/animate.min.css'>
        <link rel="stylesheet" type="text/css" href="css/lessons/061wemm04.css">
        <style type="text/css">
           
         

        .carousel-indicators li {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 1px;
            text-indent: -999px;
            border: 5px solid #9E9E9E;
            border-radius: 10px;
            cursor: pointer;
            background-color: #000\9;
            background-color: transparent;
        }


        .carousel-indicators .active {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 1px;
            text-indent: -999px;
            border: 10px solid green;
            border-radius: 20px;
            cursor: pointer;
            background-color: transparent;
        }

        /* Animation delays */
        .carousel-caption img:first-child {
          -webkit-animation-delay: 1s;
          animation-delay: 1s;
        }
        .carousel-caption img:nth-child(2) {
          -webkit-animation-delay: 2s;
          animation-delay: 2s;
        }
        </style>
    </head>
 

    <body> 
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
              <li data-target="#myCarousel" data-slide-to="5"></li>
              <li data-target="#myCarousel" data-slide-to="6"></li>
              <li data-target="#myCarousel" data-slide-to="7"></li>
              <li data-target="#myCarousel" data-slide-to="8"></li>
              <li data-target="#myCarousel" data-slide-to="9"></li>
              <li data-target="#myCarousel" data-slide-to="10"></li>
              <li data-target="#myCarousel" data-slide-to="11"></li>
              <li data-target="#myCarousel" data-slide-to="12"></li>
              <li data-target="#myCarousel" data-slide-to="13"></li>
              <li data-target="#myCarousel" data-slide-to="14"></li>
              <li data-target="#myCarousel" data-slide-to="15"></li>
              <li data-target="#myCarousel" data-slide-to="16"></li>
              <li data-target="#myCarousel" data-slide-to="17"></li>
              <li data-target="#myCarousel" data-slide-to="18"></li>
          </ol>
            <!-- Wrapper for slides -->
            <div class="container-fluid">
                <div class="row template">
                    <div class="col-xs-offset-2 col-xs-8">
                        <div class="carousel-inner">
                            <div class="item active">
                
                                <div class="carousel-content">
                                    
                                    <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5">  
                                         <input type="file" name="img[]" />

                                     </div> 


                                     
                                </div>
                            </div>
                            
                            <div class="item">
                                <div class="carousel-content">
                                    <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5">  
                                      <input type="file" name="img[]" />
                                   </div> 
                                   
                                          
                                </div>
                            </div>    
                            
                            <div class="item">
                                <div class="carousel-content">
                                    
                                     <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5 carousel-caption">  
                                        <input type="file" name="img[]" />
                                        <input type="file" name="img[]" />
                                        <input type="file" name="img[]" />
                                     </div> 
                                 </div>
                            </div>    
                            
                            
                            <div class="item">
                                <div class="carousel-content">
                                    
                                     <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5 carousel-caption">  
                                          <input type="file" name="img[]" />
                                          <input type="file" name="img[]" />
                                          <input type="file" name="img[]" />
                          
                                     </div> 
                                          
                                </div>
                            </div>    
                            
                            <div class="item">
                                <div class="carousel-content">
                                    
                                    <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5 carousel-caption">  
                                        <input type="file" name="img[]" />
                                        <input type="file" name="img[]" />
                                        <input type="file" name="img[]" />
                          
                                    </div>  
                                          
                                </div>
                            </div>    
                            
                            <div class="item">
                                <div class="carousel-content">
                                    <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5">  
                                       <input type="file" name="img[]" />
                                    </div>  
                                          
                                </div>
                            </div>    
                            
                             <div class="item">
                                <div class="carousel-content">
                                    
                                     <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5 carousel-caption">  
                                        <input type="file" name="img[]" />
                                        <input type="file" name="img[]" />
                    
                                      </div>  
                                          
                                </div>
                            </div>    
                            
                             <div class="item">
                                <div class="carousel-content">
                                    <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5 carousel-caption">  
                                        <input type="file" name="img[]" />
                                        <input type="file" name="img[]" />
                                        <input type="file" name="img[]" />
                    
                                    </div>  
                                </div>
                            </div>    
                            
                             <div class="item">
                                <div class="carousel-content">
                                    
                                    <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5">  
                                       <input type="file" name="img[]" />
                          
                                   </div> 
                                          
                                </div>
                            </div>    
                            
                             <div class="item">
                                <div class="carousel-content">
                                    
                                     <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5 carousel-caption">  
                                          <input type="file" name="img[]" />
                                          <input type="file" name="img[]" />
                                          <input type="file" name="img[]" />
                          
                                     </div> 
                                          
                                </div>
                            </div>    
                            
                             <div class="item">
                                <div class="carousel-content">
                                    
                                      <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5 carousel-caption">  
                                          <input type="file" name="img[]" />
                                          <input type="file" name="img[]" />
                          
                                      </div>  
                                          
                                </div>
                            </div>    
                            
                             <div class="item">
                                <div class="carousel-content">
                                    
                                      <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5">  
                                        <input type="file" name="img[]" />
                          
                                      </div>  
                                          
                                </div>
                            </div>    
                            
                             <div class="item">
                                <div class="carousel-content">
                                    
                                     <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5 carousel-caption">  
                                          <input type="file" name="img[]" />
                                          <input type="file" name="img[]" />
                                          <input type="file" name="img[]" />
                    
                          
                                      </div>  
                                          
                                </div>
                            </div>    
                            
                            <div class="item">
                                <div class="carousel-content">
                                    
                                     <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5">  
                                        <input type="file" name="img[]" />
                          
                                     </div> 
                                          
                                </div>
                            </div>    
                            
                             <div class="item">
                                <div class="carousel-content">
                                    
                                     <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5 carousel-caption">  
                                          <input type="file" name="img[]" />
                                          <input type="file" name="img[]" />
                          
                                      </div>  
                                          
                                </div>
                            </div>    
                            
                             <div class="item">
                                <div class="carousel-content">
                                    
                                     <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5 carousel-caption">  
                                          <input type="file" name="img[]" />
                                          <input type="file" name="img[]" />
                          
                                      </div>  
                                          
                                </div>
                            </div>    
                            
                             <div class="item">
                                <div class="carousel-content">
                                    
                                     <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5 carousel-caption">  
                                          <input type="file" name="img[]" />
                                          
                                          <input type="file" name="img[]" />
                                          <input type="file" name="img[]" />
                    
                          
                                      </div>  
                                          
                                </div>
                            </div>    
                            
                             <div class="item">
                                <div class="carousel-content">
                                    
                                     <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5 carousel-caption">  
                                        <input type="file" name="img[]" />
                                        <input type="file" name="img[]" />
                    
                                      </div>  
                                          
                                </div>
                            </div>    
                            
                             <div class="item">
                                <div class="carousel-content">
                                    
                                    <div class ="col-md-6 col-sm-6 col-xs-12 img_block _content5">  
                                      <input type="file" name="img[]" />
                                    </div>  
                                          
                                </div>
                            </div>    
                        </div>    
                    </div>                                                                              
                </div>
            </div>
          
        
            
        </div>

         


        <!-- core script -->
        <script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
        <script type="text/javascript" src="../assets/js/core/libraries/bootstrap.min.js"></script>

        <script>

        $('.carousel').carousel({
             interval: 5000,
        });

         //Animation part for tooltip
        (function( $ ) {

          //Function to animate slider captions 
          function doAnimations( elems ) {
            //Cache the animationend event in a variable
            var animEndEv = 'webkitAnimationEnd animationend';
            
            elems.each(function () {
              var $this = $(this),
                $animationType = $this.data('animation');
                $this.addClass($animationType).one(animEndEv, function () {
                $this.removeClass($animationType);
              });
            });
          }
          
          //Variables on page load 
          var $myCarousel = $('#myCarousel'),
          $firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");
            
          //Initialize carousel 
          $myCarousel.carousel();
          
          //Animate captions in first slide on page load 
          doAnimations($firstAnimatingElems);
          
          //Pause carousel  
          $myCarousel.carousel('pause');
          
          
          //Other slides to be animated on carousel slide event 
          $myCarousel.on('slide.bs.carousel', function (e) {
            var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");
            doAnimations($animatingElems);
          });  
        })(jQuery);
        </script>
       
        
    
    <script type="text/javascript" src="../assets/js/customer.js"></script><br/></body>
</html>
    
    
