<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PREPMYSKILLS - CBSE PROGRAM</title>

	<link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="css/lessons/061lses04.css">
	<!-- Core JS files -->
	
	<script type="text/javascript" src="../assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/core/libraries/bootstrap.min.js"></script>
		
	<script>
	   	$(function(){
		   	$("._content1,._content2,._content3,._content4,._content5,._content6,._content7,._content8").hide();
		   	$("._content1").fadeOut('slow').delay(1000).fadeIn('slow');
		 	$("._content2").fadeOut('slow').delay(2000).fadeIn('slow');
		 	$("._content3").fadeOut('slow').delay(3000).fadeIn('slow');
		 	$("._content4").fadeOut('slow').delay(4000).fadeIn('slow');
		 	$("._content5").fadeOut('slow').delay(5000).fadeIn('slow');
		 	$("._content6").fadeOut('slow').delay(6000).fadeIn('slow');
		 	$("._content7").fadeOut('slow').delay(7000).fadeIn('slow');
		 	$("._content8").fadeOut('slow').delay(8000).fadeIn('slow');
		});
	</script>
</head>
<body>
	
	<!-- Page container -->
	<div class="container-fluid">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main content -->
			<div class="content-wrapper">
				<div class="row mydivs">
					<div class="col-md-12  col-sm-12 col-xs-12 template img-responsive">
						<div class='_content1' >
                         	
                            <div id='_objective'>
                             	<h2><input type="text" name="h2[]" placeholder="Enter heading here.." style="background-color: transparent;border: 0px solid; outline: none;"  /></h2>
                            </div>
                        </div>
                        
                        <div class ="col-md-6 col-sm-6 col-xs-12 content_part"> 
							
							<ul class='_content2'>
						        <li>
								     <img id='_objective1' src='emotional6_images/emotional6btn.png'  style='float:left'> 
							         <p style='margin-left:50px;'><input type="text" name="lp[]" style="background-color: transparent;border: 0px solid; outline: none;" placeholder="Enter bullet points here.." /><button class="addli">+</button><button class="delli">-</button></p>
							    </li>
						    </ul> 
						    
						    <ul class='_content3'>
						        <li>
								     <img id='_objective1' src='emotional6_images/emotional6btn.png'  style='float:left'> 
							         <p style='margin-left:50px;'><input type="text" name="lp[]" style="background-color: transparent;border: 0px solid; outline: none;" placeholder="Enter bullet points here.." /><button class="addli">+</button><button class="delli">-</button></p>
							    </li>
						    </ul> 
						    
						    <ul class='_content4'>
						        <li>
								     <img id='_objective1' src='emotional6_images/emotional6btn.png'  style='float:left'> 
							         <p style='margin-left:50px;'><input type="text" name="lp[]" style="background-color: transparent;border: 0px solid; outline: none;" placeholder="Enter bullet points here.." /><button class="addli">+</button><button class="delli">-</button></p>
							    </li>
						    </ul> 
						    <ul class='_content5'>
						        <li>
								     <img id='_objective1' src='emotional6_images/emotional6btn.png'  style='float:left'> 
							         <p style='margin-left:50px;'><input type="text" name="lp[]" style="background-color: transparent;border: 0px solid; outline: none;" placeholder="Enter bullet points here.." /><button class="addli">+</button><button class="delli">-</button></p>
							    </li>
						    </ul> 
						    
						    <ul class='_content6'>
						        <li>
								     <img id='_objective1' src='emotional6_images/emotional6btn.png'  style='float:left'> 
							         <p style='margin-left:30px;'><input type="text" name="lp[]" style="background-color: transparent;border: 0px solid; outline: none;" placeholder="Enter bullet points here.." /><button class="addli">+</button><button class="delli">-</button></p>
							    </li>
						    </ul> 
						    <ul class='_content7'>
						        <li>
								     <img id='_objective1' src='emotional6_images/emotional6btn.png'  style='float:left'> 
							         <p style='margin-left:30px;'><input type="text" name="lp[]" style="background-color: transparent;border: 0px solid; outline: none;" placeholder="Enter bullet points here.." /><button class="addli">+</button><button class="delli">-</button></p>
							    </li>
						    </ul> 
						</div>
						
						<div class ="col-md-6 col-sm-6 col-xs-12 _content8">	 
							<input type="file" name="img[]" />
					    </div> 
					    
					</div>
				</div>
			</div>
		</div>
	</div>				       
<script type="text/javascript" src="../assets/js/customer.js"></script><br/></body>
</html> 


