<!DOCTYPE html>
<html>
<head>
  <title>ACT1</title>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="../../../contents/bootstrap_4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../../contents/assets/fonts/San-Francisco-Font/fonts.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/froala_editor.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/froala_style.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/code_view.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/colors.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/emoticons.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/image_manager.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/image.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/line_breaker.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/table.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/char_counter.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/video.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/fullscreen.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/file.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/codemirror.min.css">
  <link rel="stylesheet" type="text/css" href="../../../contents/css/static_layouts/lessons/Layout6.0.css">
  <style type="text/css">
      .form-control{
        height: auto;
      }
      body{
        overflow-y: scroll;
      }
      /*.input-group-prepend{
        width: 100px;
      }*/
      .mx-auto{
        max-width: 200px;
        width: 100%
      }
      td{
        text-align: left;
      }
      .fr-box a{
      display: none !important;
    }
    a[href="https://www.froala.com/wysiwyg-editor?k=u"]{
      padding: 0px !important;
      height: 0px !important;
      display: none !important;
    }
  </style>
</head>
<body>
  <form id="layout_form" name="layout_form" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="rowalign-items-center grid-divider" id="grid-divider1">
            <div class="card my-5">
              <div class="card-header">
                <div class="form-group">
                    <label for="act_title">Title</label>
                    <textarea class="form-control froala_editor" id="act_title" name="act_title" rows="3"></textarea>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center">
                        <thead>
                            <th>Question</th>
                            <th>option 1</th>
                            <th>option 2</th>
                            <th>Feedback</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                  <div>
                                    <input type="hidden" name="qust1[qust_image]" class="image qust1_image" value="" />
                                    <img src="../../../images/upload.jpg" id="img1" class="qust1_image img-fluid mx-auto d-block" />
                                  </div>
                                </td> 
                                <td>
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <select class="form-control qust1_option1_status" name="qust1[opt1_ans]">
                                                <option value="">-Choose Option Type-</option>
                                                <option value="1">Right</option>
                                                <option value="0">wrong</option>
                                            </select>
                                        </div>
                                      </div>
                                      <textarea class="form-control froala_editor qust1_option1_label" name="qust1[opt1]" aria-label="Text input with checkbox"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <select class="form-control qust1_option2_status" name="qust1[opt2_ans]">
                                                <option value="">-Choose Option Type-</option>
                                                <option value="1">Right</option>
                                                <option value="0">wrong</option>
                                            </select>
                                        </div>
                                      </div>
                                      <textarea class="form-control froala_editor qust1_option2_label" name="qust1[opt2]" aria-label="Text input with checkbox"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <select class="form-control qust1_option3_status" name="qust1[opt3_ans]">
                                                <option value="">-Choose Option Type-</option>
                                                <option value="1">Right</option>
                                                <option value="0">wrong</option>
                                            </select>
                                        </div>
                                      </div>
                                      <textarea class="form-control froala_editor qust1_option3_label" name="qust1[opt3]" aria-label="Text input with checkbox"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <div>
                                    <input type="hidden" name="qust2[qust_image]" class="image qust2_image" value="" />
                                    <img src="../../../images/upload.jpg" id="img2" class="qust2_image img-fluid mx-auto d-block" />
                                  </div>
                                </td> 
                                <td>
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <select class="form-control qust2_option1_status" name="qust2[opt1_ans]">
                                                <option value="">-Choose Option Type-</option>
                                                <option value="1">Right</option>
                                                <option value="0">wrong</option>
                                            </select>
                                        </div>
                                      </div>
                                      <textarea class="form-control froala_editor qust2_option1_label" name="qust2[opt1]" aria-label="Text input with checkbox"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <select class="form-control qust2_option2_status" name="qust2[opt2_ans]">
                                                <option value="">-Choose Option Type-</option>
                                                <option value="1">Right</option>
                                                <option value="0">wrong</option>
                                            </select>
                                        </div>
                                      </div>
                                      <textarea class="form-control froala_editor qust2_option2_label" name="qust2[opt2]" aria-label="Text input with checkbox"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <select class="form-control qust2_option3_status" name="qust2[opt3_ans]">
                                                <option value="">-Choose Option Type-</option>
                                                <option value="1">Right</option>
                                                <option value="0">wrong</option>
                                            </select>
                                        </div>
                                      </div>
                                      <textarea class="form-control froala_editor qust2_option3_label" name="qust2[opt3]" aria-label="Text input with checkbox"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                  <div>
                                    <input type="hidden" name="qust3[qust_image]" class="image qust3_image" value="" />
                                    <img src="../../../images/upload.jpg" id="img3" class="qust3_image img-fluid mx-auto d-block" />
                                  </div>
                                </td> 
                                <td>
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <select class="form-control qust3_option1_status" name="qust3[opt1_ans]">
                                                <option value="">-Choose Option Type-</option>
                                                <option value="1">Right</option>
                                                <option value="0">wrong</option>
                                            </select>
                                        </div>
                                      </div>
                                      <textarea class="form-control froala_editor qust3_option1_label" name="qust3[opt1]" aria-label="Text input with checkbox"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <select class="form-control qust3_option2_status" name="qust3[opt2_ans]">
                                                <option value="">-Choose Option Type-</option>
                                                <option value="1">Right</option>
                                                <option value="0">wrong</option>
                                            </select>
                                        </div>
                                      </div>
                                      <textarea class="form-control froala_editor qust3_option2_label" name="qust3[opt2]" aria-label="Text input with checkbox"></textarea>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <select class="form-control qust3_option3_status" name="qust3[opt3_ans]">
                                                <option value="">-Choose Option Type-</option>
                                                <option value="1">Right</option>
                                                <option value="0">wrong</option>
                                            </select>
                                        </div>
                                      </div>
                                      <textarea class="form-control froala_editor qust3_option3_label" name="qust3[opt3]" aria-label="Text input with checkbox"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
              <div class="card-footer py-0">
                <div class="row align-items-center grid-divider" id="grid-divider2">
                    <div class="col-8" id="content">
                        <div class="form-group">
                            <label for="explanation">Explanation</label>
                            <textarea class="form-control froala_editor exp_content" name="explanation[exp1]" id="explanation1" rows="2"></textarea>
                            <textarea class="form-control froala_editor exp_content" name="explanation[exp2]" id="explanation2" rows="2"></textarea>
                            <textarea class="form-control froala_editor exp_content" name="explanation[exp3]" id="explanation3" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="col-4" id="img_block">
                      <input type="hidden" name="exp_img" class="image" value="" />
                      <img src="../../../images/upload.jpg" id="exp_img" class="image exp_img img-fluid mx-auto d-block" />
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </form>
  <script src="../../../contents/bootstrap_4.1.3/js/jquery-3.3.1.min.js"></script>
  <script src="../../../contents/bootstrap_4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/froala_editor.min.js" ></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/align.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/char_counter.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/code_beautifier.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/code_view.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/colors.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/draggable.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/emoticons.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/entities.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/file.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/font_size.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/font_family.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/fullscreen.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/image.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/image_manager.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/line_breaker.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/inline_style.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/link.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/lists.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/paragraph_format.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/paragraph_style.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/quote.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/table.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/save.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/url.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/video.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      /*$("select").change(function(){
        //console.log("werffwre - ", $(this).closest("td").next('td').find("select").val());
        var val = $(this).val()
        var td_val_next = $(this).closest("td").next('td').find("select").val();
        if(val == td_val_next){
          alert("choose diff option");
          $(this).val("");
        }

        var td_val_prev = $(this).closest("td").prev('td').find("select").val();
        if(val == td_val_prev){
          alert("choose diff option");
          $(this).val("");
        }
      });*/

      var urlGet = document.URL;
      if ((i = urlGet.indexOf('?')) >= 0) {
        var split_url_val = urlGet.split('?');
        var split_url_qust_id = split_url_val[1].split('&');
        var api_url = split_url_qust_id[0].replace('api_end_point=','');
        var qust_id = split_url_qust_id[1].replace('qust_id=','');
        
        setTimeout(function () {
          //console.log(api_url,'-',qust_id);
            $.ajax({
                url: '../../../../'+api_url+'?qust_id='+qust_id,
                method:'GET',
                contentType:false,
                processData:false,
                async:true,
                success:function(data)
                {
                  data = JSON.parse(data);
                  //console.log(data);
                  $("#act_title").text(data.act_title);
                  if(data.exp_img != "")
                    $(".exp_img").attr("src",data.exp_img);
                  $("#explanation1").text(data.explanation.exp1);
                  $("#explanation2").text(data.explanation.exp2);
                  $("#explanation3").text(data.explanation.exp3);
                  $(".image").val(data.exp_img);
                  
                  var question = "";
                  var question_img = "";
                  var option1 = "";
                  var option1_val = "";
                  var option2 = "";
                  var option2_val = "";
                  $.each(data, function(i, e){
                    //console.log(i," - ",e);
                    if(i == 'qust1') {
                      $.each(e, function(key, val){
                        if(key == "qust_image"){
                          $(".qust1_image").val(val);
                          $(".qust1_image").attr("src",val);
                        }
                        else if(key == "opt1"){
                          $(".qust1_option1_label").val(val);
                        }
                        else if(key == "opt1_ans"){
                          console.log($(".qust1_option1_status").val(val));
                          $(".qust1_option1_status").val(val).trigger('change');
                        }
                        else if(key == "opt2"){
                          $(".qust1_option2_label").val(val);
                        }
                        else if(key == "opt2_ans"){
                          console.log($(".qust1_option2_status").val(val));
                          $(".qust1_option2_status").val(val).trigger('change');
                        }
                        else if(key == "opt3"){
                          $(".qust1_option3_label").val(val);
                        }
                        else{
                          $(".qust1_option3_status").val(val).trigger('change');
                        }
                      });
                    } else if(i == 'qust2') {
                      $.each(e, function(key, val){
                        if(key == "qust_image"){
                          $(".qust2_image").val(val);
                          $(".qust2_image").attr("src",val);
                        }
                        else if(key == "opt1"){
                          $(".qust2_option1_label").val(val);
                        }
                        else if(key == "opt1_ans"){
                          $(".qust2_option1_status").val(val).trigger('change');
                        }
                        else if(key == "opt2"){
                          $(".qust2_option2_label").val(val);
                        }
                        else if(key == "opt2_ans"){
                          $(".qust2_option2_status").val(val).trigger('change');
                        }
                        else if(key == "opt2"){
                          $(".qust2_option2_label").val(val);
                        }
                        else{
                          $(".qust2_option2_status").val(val).trigger('change');
                        }
                      });
                    } else if(i == 'qust3') {
                      $.each(e, function(key, val){
                        if(key == "qust_image"){
                          $(".qust3_image").val(val);
                          $(".qust3_image").attr("src",val);
                        }
                        else if(key == "opt1"){
                          $(".qust3_option1_label").val(val);
                        }
                        else if(key == "opt1_ans"){
                          $(".qust3_option1_status").val(val).trigger('change');
                        }
                        else if(key == "opt2"){
                          $(".qust3_option2_label").val(val);
                        }
                        else if(key == "opt2_ans"){
                          $(".qust3_option2_status").val(val).trigger('change');
                        }
                        else if(key == "opt2"){
                          $(".qust3_option2_label").val(val);
                        }
                        else{
                          $(".qust3_option2_status").val(val).trigger('change');
                        }
                      });
                    }
                  });
                },
                beforeSend: function(){
                  $("#loader_modal").modal("show");
                },
                complete: function(){
                  setTimeout(function(){
                    $("#loader_modal").modal("hide");
                  }, 1000);
                }
            });
        }, 1000)
      }

      var classId = '';
      var subjectId = '';
      console.log(parent);
      var uploadURL = '../../conceptprep/apis/editorUploadImages.php?class_id='+classId+'&subject_id='+subjectId;
      setTimeout(function() {
      
        $('.froala_editor').froalaEditor({
            imageEditButtons: ['imageDisplay', 'imageAlign', 'imageInfo', 'imageRemove'],
            //toolbarButtons: ['undo', 'redo' , 'bold', 'image', '|', 'wirisEditor', 'wirisChemistry','clear', 'insert'],
            toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'color','|', 'insertImage','|', 'print', 'help', 'html', '|', 'undo', 'redo'],
            // Allowed tags
            htmlAllowedTags:   ['.*'],
            htmlAllowedAttrs: ['.*'],
            // Set the file upload URL.
            imageUploadURL: uploadURL,

            imageUploadParams: {
              id: 'my_editor'
            },
            placeholderText: '',
            imageDefaultWidth: 'auto',
            pastePlain: true
            //toolbarInline: true
        });
      }, 1500)
    })
  </script>
</body>
</html>