<!DOCTYPE html>
<html>
<head>
  <title>ACT1</title>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="../../../contents/bootstrap_4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../../contents/assets/fonts/San-Francisco-Font/fonts.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/froala_editor.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/froala_style.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/code_view.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/colors.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/emoticons.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/image_manager.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/image.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/line_breaker.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/table.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/char_counter.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/video.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/fullscreen.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/css/plugins/file.css">
  <link rel="stylesheet" href="../../conceptprep/layouts/froala/codemirror.min.css">
  <link rel="stylesheet" type="text/css" href="../../../contents/css/static_layouts/lessons/Layout6.0.css">
  <style type="text/css">
      .form-control{
        height: auto;
      }
      body{
        overflow-y: scroll;
      }
      li {
          border:1px dashed Gainsboro;
          display:inline-block;
      }
      .input-group{
        max-width: 500px;
        width: 100%
      }
      .fr-box a{
      display: none !important;
    }
    a[href="https://www.froala.com/wysiwyg-editor?k=u"]{
      padding: 0px !important;
      height: 0px !important;
      display: none !important;
    }
  </style>
</head>
<body>
  <form id="layout_form" name="layout_form" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="rowalign-items-center grid-divider" id="grid-divider1">
            <div class="card my-5">
              <div class="card-header">
                <div class="form-group">
                    <label for="act_title">Title</label>
                    <textarea class="form-control" id="act_title" name="act_title" rows="3"></textarea>
                </div>
              </div>
              <div class="card-body">
                <div class="card">
                  <div class="card-header d-flex align-items-center border-info">
                    Question1
                    <div class="input-group mx-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">scramble word</span>
                      </div>
                      <input type="text" class="form-control" id="qust1_scramble_word" name="qust1[scramble_word]">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">unscramble word</span>
                      </div>
                      <input type="text" class="form-control" id="qust1_unscramble_word" name="qust1[unscramble_word]">
                    </div>
                  </div>
                    
                    <div class="card-body p-0 mb-2" id="list-A">
                      <textarea class="form-control froala_editor qust" id="qust1" name="qust1[qust1]" rows="2"></textarea>
                    </div>
                  
                  <div class="card-header d-flex align-items-center border-info">
                    Question2

                    <div class="input-group mx-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">scramble word</span>
                      </div>
                      <input type="text" class="form-control" id="qust2_scramble_word" name="qust2[scramble_word]">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">unscramble word</span>
                      </div>
                      <input type="text" class="form-control" id="qust2_unscramble_word" name="qust2[unscramble_word]">
                    </div>
                  </div>
                  
                    <div class="card-body p-0 mb-2" id="list-B">
                      <textarea class="form-control froala_editor qust" id="qust2" name="qust2[qust2]" rows="2"></textarea>
                    </div>  
                  
                  <div class="card-header d-flex align-items-center border-info">
                    Question3
                    <div class="input-group mx-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">scramble word</span>
                      </div>
                      <input type="text" class="form-control" id="qust3_scramble_word" name="qust3[scramble_word]">
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">unscramble word</span>
                      </div>
                      <input type="text" class="form-control" id="qust3_unscramble_word" name="qust3[unscramble_word]">
                    </div>
                  </div>
                  
                    <div class="card-body p-0 mb-2" id="list-C">
                      <textarea class="form-control froala_editor qust" id="qust3" name="qust3[qust3]" rows="2"></textarea>  
                  
                </div>
              </div>
              <div class="card-footer py-0">
                <div class="row align-items-center grid-divider" id="grid-divider2">
                    <div class="col-8" id="content">
                        <div class="form-group">
                            <label for="explanation">Explanation</label>
                            <textarea class="form-control froala_editor exp_content" name="explanation[exp1]" id="explanation1" rows="2"></textarea>
                            <textarea class="form-control froala_editor exp_content" name="explanation[exp2]" id="explanation2" rows="2"></textarea>
                            <textarea class="form-control froala_editor exp_content" name="explanation[exp3]" id="explanation3" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="col-4" id="img_block">
                      <input type="hidden" name="exp_img" class="image" value="" />
                      <img src="../../../images/upload.jpg" id="exp_img" class="image exp_img img-fluid mx-auto d-block" />
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </form>
  <script src="../../../contents/bootstrap_4.1.3/js/jquery-3.3.1.min.js"></script>
  <script src="../../../contents/bootstrap_4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/froala_editor.min.js" ></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/align.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/char_counter.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/code_beautifier.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/code_view.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/colors.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/draggable.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/emoticons.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/entities.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/file.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/font_size.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/font_family.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/fullscreen.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/image.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/image_manager.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/line_breaker.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/inline_style.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/link.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/lists.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/paragraph_format.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/paragraph_style.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/quote.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/table.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/save.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/url.min.js"></script>
  <script type="text/javascript" src="../../conceptprep/layouts/froala/js/plugins/video.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){

      var qust1 = $("#qust1").html();
      var qust2 = $("#qust2").html();
      var qust3 = $("#qust3").html();

      var urlGet = document.URL;
      if ((i = urlGet.indexOf('?')) >= 0) {
        var split_url_val = urlGet.split('?');
        var split_url_qust_id = split_url_val[1].split('&');
        var api_url = split_url_qust_id[0].replace('api_end_point=','');
        var qust_id = split_url_qust_id[1].replace('qust_id=','');
      
        setTimeout(function () {
          //console.log(api_url,'-',qust_id);
            $.ajax({
                url: '../../../../'+api_url+'?qust_id='+qust_id,
                method:'GET',
                contentType:false,
                processData:false,
                async:true,
                success:function(data)
                {
                  data = JSON.parse(data);
                  console.log(data);
                  $("#act_title").text(data.act_title);
                  if(data.exp_img != "")
                    $(".exp_img").attr("src",data.exp_img);
                  $("#explanation1").text(data.explanation.exp1);
                  $("#explanation2").text(data.explanation.exp2);
                  $("#explanation3").text(data.explanation.exp3);
                  $(".image").val(data.exp_img);
                  
                  var question_part1 = "";
                  var question_part2 = "";
                  var answer = "";
                  $.each(data, function(i, e){
                    if(i == 'qust1') {
                      $.each(e, function(key, val){
                        if(key == "qust1"){
                          $("#qust1").text(val);
                        }
                        else if(key == "scramble_word"){
                          $("#qust1_scramble_word").val(val);
                        }
                        else if(key == "unscramble_word"){
                          $("#qust1_unscramble_word").val(val);
                        }
                      });
                    } else if(i == 'qust2') {
                      $("#qust2").html('');
                      $.each(e, function(key, val){
                        if(key == "qust2"){
                          $("#qust2").text(val);
                        }
                        else if(key == "scramble_word"){
                          $("#qust2_scramble_word").val(val);
                        }
                        else if(key == "unscramble_word"){
                          $("#qust2_unscramble_word").val(val);
                        }
                      });
                    } else if(i == 'qust3') {
                      $("#qust3").html('');
                      $.each(e, function(key, val){
                        if(key == "qust3"){
                          $("#qust3").text(val);
                        }
                        else if(key == "scramble_word"){
                          $("#qust3_scramble_word").val(val);
                        }
                        else if(key == "unscramble_word"){
                          $("#qust3_unscramble_word").val(val);
                        }
                      });
                    }
                  });
                },
                beforeSend: function(){
                  $("#loader_modal").modal("show");
                },
                complete: function(){
                  setTimeout(function(){
                    $("#loader_modal").modal("hide");
                  }, 1000);
                }
            });
        }, 1000);
      }

      var classId = '';
      var subjectId = '';
      console.log(parent);
      var uploadURL = '../../conceptprep/apis/editorUploadImages.php?class_id='+classId+'&subject_id='+subjectId;
      setTimeout(function() {
      
        $('.froala_editor').froalaEditor({
            imageEditButtons: ['imageDisplay', 'imageAlign', 'imageInfo', 'imageRemove'],
            //toolbarButtons: ['undo', 'redo' , 'bold', 'image', '|', 'wirisEditor', 'wirisChemistry','clear', 'insert'],
            toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'color','|', 'insertImage','|', 'print', 'help', 'html', '|', 'undo', 'redo'],
            // Allowed tags
            htmlAllowedTags:   ['.*'],
            htmlAllowedAttrs: ['.*'],
            // Set the file upload URL.
            imageUploadURL: uploadURL,

            imageUploadParams: {
              id: 'my_editor'
            },
            placeholderText: '',
            imageDefaultWidth: 'auto',
            pastePlain: true
            //toolbarInline: true
        });
      }, 1500)
    })
  </script>
</body>
</html>