#questionbank {
    border-radius: 10px;
    background-color: #ECEEF7;
    padding: 15px 15px
}

#questionbank h5 {
    background: transparent !important;
}

#questionbank_modules h6 {
    color: #878787;
}

#questionbank #right_grid{
	border-radius: 10px;
  	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  	background-color: #ffffff;
}

.col-form-label {
    color: #181818;
}
.nav-pills .nav-link{
	font-size: 20px;
	color: #878787;
	font-weight: 500;
	letter-spacing: 0.27px;
}
.nav-pills .nav-link.active{
	color: #181818 !important;
	background-color: transparent !important;
}
#questionbank #tab_sidebar{
	border-radius: 10px;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
	background-color: #ffffff;
	padding: 5px;
}
#left_grid h6{
    padding: .5rem 1rem;
}
.active_btn_shadow{
	box-shadow: 0 5px 20px 0 #aad3ff;
}
#upload_qust_btn{
	color: #181818;	
}
.header_cancel_btn{
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
	background-color: #ededed;
	color: #181818;
	font-size: 1rem
}
button.bg-grey:hover{
    background-color: #3395ff;
    color: #ffffff !important;
    box-shadow: 0 5px 20px 0 #aad3ff;
}
.d-none{
	display: none !important;
}
.form-control, .answer_key{
    border-radius: 5px;
    border: solid 2px #e2e2e2;
}
select option:first-child{
  color: #878787;
}