#upload_qust_blk .expl_tooltip{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
a:hover{
  text-decoration: none;
}

/**upload block styles */
#upload_blk{
  max-width: 650px;
}

#upload_blk button, #upload_blk label{
  max-width: 155px;
  width: 100%;
}
#upload_blk button.review{
  opacity: 0.4;
  pointer-events: none;
}
input[type="file"] {
    display: none;
}
#upload_blk #show_attachedfiel img{
  width: 50px
}
#upload_blk .show_attachedfiel{
  display: none !important;
}
.upload_col, .review_col{
  display: none;
}
#error_info{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/** modal styles */
.modal-content{
  background-color: #f6f6fa;
}
.class_save_active{
  opacity: 0.4;
  pointer-events: none;
}