body{
    font-family: Arial;
    font-size: 10pt;
}
.template {
    height: 670px;
    background-image: url('../../emotional6_images/emotional6.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
li{
    list-style-type: none;
}
.img_title{
    width: 257px;
    height: 137px;
    margin-left: 346px;
}
#_objective {
    font-family: century gothic;
    left: 226px;
    position: absolute;
    top: -22px;
    font-weight: bolder;
}
#_objective h2{
    font-weight: bold;
    font-size: 35px;
}
._content_part {
    left: 0px;
    position: absolute;
    top: 104px;
}
._content_part1 {
    left: 394px;
    position: absolute;
    top: 136px;
    font-size: 22px;
}
._content_part2 {
    left: 164px;
    position: absolute;
    top: 80px;
    font-size: 24px;
}
p {
    font-family: century gothic;
    font-size: 20px;
    word-wrap: break-word;
}
#_objective1 {
    margin-top: 0px;
    width: 33px;
}
.img_right img{
    position: absolute;
    left: 3px;
    top: -73px;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .img_title{
        width: 253px;
        height: 137px;
        margin-left: 346px;
    }
    #_objective {
        font-family: century gothic;
        left: 167px;
        position: absolute;
        top: -44px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 104px;
    }
    ._content_part1 {
        left: 394px;
        position: absolute;
        top: 136px;
        font-size: 22px;
    }
    ._content_part2 {
        left: 108px;
        position: absolute;
        top: 28px;
        font-size: 21px;
    }
    p {
        font-family: century gothic;
        font-size: 20px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: 0px;
        width: 37px;
    }
    .img_right img{
        position: absolute;
        left: -11px;
        top: -1px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1030px) {
    .img_title{
        width: 212px;
        height: 137px;
        margin-left: 490px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 140px;
        position: absolute;
        top: -64px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: 99px;
        position: absolute;
        top: 1px;
    }
    p {
        font-family: century gothic;
        font-size: 19px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -4px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 446px;
        top: 141px;
        width: 254px;
    }   
}
@media only screen and (max-width : 992px) {
    .img_title{
        width: 212px;
        height: 137px;
        margin-left: 402px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 161px;
        position: absolute;
        top: -59px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: 92px;
        position: absolute;
        top: 4px;
    }
    p {
        font-family: century gothic;
        font-size: 15px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -4px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 346px;
        top: 121px;
        width: 245px;
    }        
}
@media only screen and (max-width : 865px) {
    .img_title{
        width: 212px;
        height: 137px;
        margin-left: 402px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 128px;
        position: absolute;
        top: -22px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: 84px;
        position: absolute;
        top: 42px;
    }
    p {
        font-family: century gothic;
        font-size: 15px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -4px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 346px;
        top: 121px;
        width: 245px;
    }   
}
/* Small Devices, Tablets */
@media only screen and (max-width : 785px) {
    .img_title{
        width: 212px;
        height: 137px;
        margin-left: 329px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 114px;
        position: absolute;
        top: -37px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: 66px;
        position: absolute;
        top: 31px;
    }
    p {
        font-family: century gothic;
        font-size: 15px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -4px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 319px;
        top: 118px;
        width: 248px;
    }
}
@media only screen and (max-width : 680px) {
    .img_title{
        width: 212px;
        height: 137px;
        margin-left: 238px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 97px;
        position: absolute;
        top: -59px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: 42px;
        position: absolute;
        top: 11px;
    }
    p {
        font-family: century gothic;
        font-size: 15px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -4px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 239px;
        top: 172px;
        width: 206px;
    }
}
@media only screen and (max-width : 610px) {
    .img_title{
        width: 212px;
        height: 137px;
        margin-left: 170px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 97px;
        position: absolute;
        top: -59px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: 48px;
        position: absolute;
        top: 0px;
    }
    p {
        font-family: century gothic;
        font-size: 13px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -4px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 191px;
        top: 152px;
        width: 217px;
    }    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 500px) {
    .img_title{
        width: 212px;
        height: 137px;
        margin-left: 136px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 105px;
        position: absolute;
        top: -67px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: 67px;
        position: absolute;
        top: 0px;
    }
    p {
        font-family: century gothic;
        font-size: 12px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -4px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 185px;
        top: 159px;
        width: 192px;
    }
}
@media only screen and (max-width : 490px) {
    .img_title{
        width: 238px;
        height: 137px;
        margin-left: 116px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 74px;
        position: absolute;
        top: -59px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: 47px;
        position: absolute;
        top: 0px;
    }
    p {
        font-family: century gothic;
        font-size: 12px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -4px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 151px;
        top: 154px;
        width: 192px;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 440px) {
    .img_title{
        width: 212px;
        height: 137px;
        margin-left: 118px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 64px;
        position: absolute;
        top: -59px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: -1px;
        position: absolute;
        top: 0px;
    }
    p {
        font-family: century gothic;
        font-size: 12px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -4px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 134px;
        top: 175px;
        width: 192px;
    }
}
@media only screen and (max-width : 390px) {
    .img_title{
        width: 212px;
        height: 137px;
        margin-left: 89px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 88px;
        position: absolute;
        top: -59px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: -8px;
        position: absolute;
        top: 0px;
    }
    p {
        font-family: century gothic;
        font-size: 12px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -4px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 105px;
        top: 185px;
        width: 192px;
    }
}
@media only screen and (max-width : 370px) {
    .img_title{
        width: 212px;
        height: 137px;
        margin-left: 85px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 55px;
        position: absolute;
        top: -60px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: -5px;
        position: absolute;
        text-align: justify;
        top: 0px;
    }
    p {
        font-family: century gothic;
        font-size: 12px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -4px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 79px;
        top: 185px;
        width: 192px;
    }
}
@media only screen and (max-width : 330px) {
    .img_title{
        width: 212px;
        height: 137px;
        margin-left: 62px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 49px;
        position: absolute;
        top: -60px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: -17px;
        position: absolute;
        top: 0px;
    }
    p {
        font-family: century gothic;
        font-size: 12px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -5px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 79px;
        top: 185px;
        width: 192px;
    }    
}
@media only screen and (max-width : 315px) {
    .img_title{
        width: 212px;
        height: 137px;
        margin-left: 40px;
        margin-top: -52px;
    }
    #_objective {
        font-family: century gothic;
        left: 106px;
        position: absolute;
        top: -75px;
        font-weight: bolder;
    }
    #_objective h2{
        font-weight: bold;
        font-size: 19px;
    }
    ._content_part {
        left: 0px;
        position: absolute;
        top: 132px;
        text-align: justify;
    }
    ._content_part1 {
        left: 79px;
        position: absolute;
        top: 102px;
        font-size: 14px;
    }
    ._content_part2 {
        left: -8px;
        position: absolute;
        top: -26px;
    }
    p {
        font-family: century gothic;
        font-size: 12px;
        word-wrap: break-word;
    }
    #_objective1 {
        margin-top: -4px;
        width: 31px;
    }
    .img_right img{
        position: absolute;
        left: 69px;
        top: 211px;
        width: 157px;
    }
}