body{
    
}
.template {
    height: 670px;
    background-image: url('../../thinking6_images/thinking skill 6 7.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    overflow:hidden;
}

._content1 img{
    width: 430px;
    position: absolute;
    top: 195px;
    left: 36px;


}
#_objective1 {
    margin-top: 1px;
    width: 27px;
}


._content5 img{
    width: 381px;
    position: absolute;
    top: 75px;
    left: 175px;
}


#_objective h2{
    
position: relative;
    
top: 123px;
    
margin-left: 418px;
    
font-weight: bold;
}

.content_part{
    top: 119px;
    left: 363px;
}
ul{
   margin-left: -1px;
}

li{
    list-style-type: none;
    /*word-wrap:break-word;*/
    font-family:century gothic;
    font-weight:bold;
    font-size:20px;
    text-align: initial;
}
li img{
    width:20px;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 


/* Small Devices, Tablets */


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

._content1 img{
    width: 300px;
    position: absolute;
    top: 85px;
    left: 197px;
}

#_objective h2{
    top: 101px;
    margin-left: 62px;
    font-weight: bold;
    left: 255px;
}
.content_part {
    top: 114px;
    left: 277px;
}
._content5 img{
    width: 310px;
    position: absolute;
    top: 30px;
    left: 141px;
}
    
ul{
    margin-left: -13px;
}
    
        
#_objective1 {
    margin-top: 1px;
    width: 27px;
}
    
.content_part li{
    font-size: 20px;
}
}

@media only screen and (max-width : 1025px) {

._content1 img{
    width: 300px;
    position: absolute;
    top: 85px;
    left: 197px;
}

#_objective h2{
    top: 104px;
    margin-left: 62px;
    font-weight: bold;
    left: 226px;
}
.content_part {
    top: 116px;
    left: 250px;
}
._content5 img{
    width: 310px;
    position: absolute;
    top: -15px;
    left: -34px;
}
    
ul{
    margin-left: -13px;
}
    
        
#_objective1 {
    margin-top: 1px;
    width: 27px;
}
    
.content_part li{
    font-size: 20px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

._content1 img{
    width: 300px;
    position: absolute;
    top: 85px;
    left: 197px;
}

#_objective h2{
    top: 106px;
    margin-left: 62px;
    font-weight: bold;
    left: 205px;
    }
.content_part {
    top: 110px;
    left: 222px;
}
._content5 img{
    width: 310px;
    position: absolute;
    top: 105px;
    left: 76px;
}
    
ul{
    margin-left: -13px;
}
    
        
#_objective1 {
    margin-top: 1px;
    width: 27px;
}
    
.content_part li{
    font-size: 20px;
}
    


}

@media only screen and (max-width : 800px) {

._content1 img{
    width: 290px;
    position: absolute;
    top: 75px;
    left: 169px;
}

._content5 img{
    width: 150px;
    position: absolute;
    top: 318px;
    left: -86px;
}
#_objective h2{
    top: 101px;
    margin-left: 69px;
}
.content_part {
     top: 104px;
     left: 401px;
    }
    
ul{
    margin-left: -167px;
}
    
#_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
.content_part li{
        font-size: 18px;
}
    
li img{
    width:15px;
}
    


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

._content1 img{
    width: 280px;
    position: absolute;
    top: 26px;
    left: 282px;
}
    
._content5 img{
    width: 140px;
    position: absolute;
    top: 100px;
    left: 286px;
}
#_objective h2{
    top: 108px;
    margin-left: 18px;
}
.content_part {
    top: 113px;
    left: 17px;
}
    
ul{
   margin-left: 176px;
}
    
#_objective1 {
    margin-top: 0px;
    width: 27px;
}
    
.content_part li{
    font-size: 18px;
}
    
li img{
    width:15px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 700px) {

._content1 img{
    width: 270px;
    position: absolute;
    top: 35px;
    left: 239px;
}

#_objective h2{
    top: 102px;
    margin-left: -5px;
    font-size: 21px;
 }
    
._content5 img{
      width: 151px;
      position: absolute;
      top: 100px;
      left: 246px;
}
.content_part {
   top: 111px;
   left: 69px;
}
    
ul{
    margin-left:78px;
}
    
#_objective1 {
    margin-top: 1px;
    width: 23px;
}
    
.content_part li{
    font-size: 18px;
}
    
li img{
    width:15px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 650px) {

._content1 img{
    width: 260px;
    position: absolute;
    top: 55px;
    left: 217px;
}

#_objective h2{
    top: 103px;
    margin-left: -66px;
    font-size: 23px;
}
    
._content5 img{
    width: 148px;
    position: absolute;
    top: 100px;
    left: 196px;
}
.content_part {
    top: 105px;
    left: -5px;
}
    
ul{
  margin-left:92px;
}
    
#_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
.content_part li{
    font-size: 18px;
}
    
li img{
    width:15px;
}
    


}

@media only screen and (max-width : 600px) {

._content1 img{
    width: 260px;
    position: absolute;
    top: 55px;
    left: 217px;
}

#_objective h2{
    top: 99px;
    margin-left: -70px;
    font-size: 23px;
}
    
._content5 img{
    width: 127px;
    position: absolute;
    top: 100px;
    left: 175px;
}
.content_part {
    top: 102px;
    left: -16px;
}
    
ul{
  margin-left:92px;
}
    
#_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
.content_part li{
    font-size: 18px;
}
    
li img{
    width:15px;
}
    


}


@media only screen and (max-width : 550px) {

._content1 img{
    width: 260px;
    position: absolute;
    top: 55px;
    left: 217px;
}

#_objective h2{
     top: 112px;
     margin-left: -124px;
     font-size: 23px;
 }
    
._content5 img{
     width: 137px;
     position: absolute;
     top: 100px;
     left: 166px;
}
.content_part {
    top: 127px;
    left: 18px;
}
    
ul{
    margin-left: 12px;
}
    
#_objective1 {
    margin-top: 1px;
    width: 24px;
}
    
.content_part li{
    font-size: 18px;
}
    
li img{
    width:15px;
}
    


}



/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

._content1 img{
    width: 230px;
    position: absolute;
    top: 95px;
    height: 110px;
    left: 101px;
}

    
._content5 img{
    width: 120px;
    position: absolute;
    top: 100px;
    left: 155px;
}
#_objective h2{
      top: 114px;
      font-size: 19px;
      margin-left: -138px;
}
    
#_objective1 {
    margin-top: -1px;
    width: 25px;
}

ul{
    margin-left: 1px;
}
.content_part {
     top: 122px;
     left: 11px;
}
.content_part li{
  font-size: 16px;
}
    
li img{
    width:15px;
}
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 400px) {

._content1 img{
    width: 230px;
    position: absolute;
    top: 95px;
    height: 110px;
    left: 101px;
}

    
._content5 img{
    width: 117px;
    position: absolute;
    top: 100px;
    left: 104px;
}
#_objective h2{
    top: 99px;
    font-size: 19px;
    margin-left: -143px;
}
    
#_objective1 {
    margin-top: -1px;
    width: 25px;
}

ul{
    margin-left: 1px;
}
.content_part {
    top: 109px;
    left: 5px;
}
.content_part li{
  font-size: 16px;
}
    
li img{
    width:15px;
}
    
}


/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

._content1 img{
    width: 230px;
    position: absolute;
    top: 95px;
    height: 110px;
    left: 101px;
}

    
._content5 img{
    width: 81px;
    position: absolute;
    top: 32px;
    left: 96px;
}
#_objective h2{
    top: 92px;
    font-size: 18px;
    margin-left: -174px;
}
    
#_objective1 {
    margin-top: -3px;
    width: 24px;
}

ul{
    margin-left: -36px;
}
.content_part {
    top: 103px;
    left: 14px;
}
.content_part li{
  font-size: 16px;
}
    
li img{
    width:15px;
}
    
}
